<mat-card class="mb-3">
  <mat-card-title>Headings</mat-card-title>
  <mat-card-content>
    <p>Headings can be applied by using the appropriate HTML element.</p>
    <table class="table">
      <thead>
        <tr>
          <th>Heading</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h1&gt;&lt;/h1&gt;</code></p>
          </td>
          <td><h1>h1. Heading</h1></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h2&gt;&lt;/h2&gt;</code></p>
          </td>
          <td><h2>h2. Heading</h2></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h3&gt;&lt;/h3&gt;</code></p>
          </td>
          <td><h3>h3. Heading</h3></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h4&gt;&lt;/h4&gt;</code></p>
          </td>
          <td><h4>h4. Heading</h4></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h5&gt;&lt;/h5&gt;</code></p>
          </td>
          <td><h5>h5. Heading</h5></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h6&gt;&lt;/h6&gt;</code></p>
          </td>
          <td><h6>h6. Heading</h6></td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<mat-card class="mb-3">
  <mat-card-title>Heading Classes</mat-card-title>
  <mat-card-content>
    <p><code class="highlighter-rouge">.h1</code> through
      <code class="highlighter-rouge">.h6</code> classes are also available, for created you want to match the font styling of a heading but cannot use the associated HTML element.
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Heading</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h1&gt;&lt;/h1&gt;</code></p>
          </td>
          <td><span class="h1">h1. Heading</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h2&gt;&lt;/h2&gt;</code></p>
          </td>
          <td><span class="h2">h2. Heading</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h3&gt;&lt;/h3&gt;</code></p>
          </td>
          <td><span class="h3">h3. Heading</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h4&gt;&lt;/h4&gt;</code></p>
          </td>
          <td><span class="h4">h4. Heading</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h5&gt;&lt;/h5&gt;</code></p>
          </td>
          <td><span class="h5">h5. Heading</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">&lt;h6&gt;&lt;/h6&gt;</code></p>
          </td>
          <td><span class="h6">h6. Heading</span></td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<mat-card class="mb-3">
  <mat-card-title>Display Headings</mat-card-title>
  <mat-card-content>
    <p>When you need a heading to stand out, consider using a
      <strong>display heading</strong>—a larger, slightly more opinionated heading style.</p>
    <table class="table">
      <tbody>
        <tr>
          <td><span class="display-1">Display 1</span></td>
        </tr>
        <tr>
          <td><span class="display-2">Display 2</span></td>
        </tr>
        <tr>
          <td><span class="display-3">Display 3</span></td>
        </tr>
        <tr>
          <td><span class="display-4">Display 4</span></td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<mat-card class="mb-3">
  <mat-card-title>Font Sizes</mat-card-title>
  <mat-card-content>
    <p>Font sizes can be applied by using the appropriate style.</p>
    <table class="table">
      <thead>
        <tr>
          <th>Font Size</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p><code class="highlighter-rouge">.font-xs</code></p>
          </td>
          <td><span class="font-xs">font-xs</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">.font-sm</code></p>
          </td>
          <td><span class="font-sm">font-sm</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">.font-lg</code></p>
          </td>
          <td><span class="font-lg">font-lg</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">.font-xl</code></p>
          </td>
          <td><span class="font-xl">font-xl</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">.font-2xl</code></p>
          </td>
          <td><span class="font-2xl">font-2xl</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">.font-3xl</code></p>
          </td>
          <td><span class="font-3xl">font-3xl</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">.font-4xl</code></p>
          </td>
          <td><span class="font-4xl">font-4xl</span></td>
        </tr>
        <tr>
          <td>
            <p><code class="highlighter-rouge">.font-5xl</code></p>
          </td>
          <td><span class="font-5xl">font-5xl</span></td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<mat-card class="mb-3">
  <mat-card-title>Inline Text Elements</mat-card-title>
  <mat-card-content>
    <p>You can use the mark tag to
      <mark>highlight</mark>
      text.
    </p>
    <p>
      <del>This line of text is meant to be treated as deleted text.</del>
    </p>
    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
    <p>
      <ins>This line of text is meant to be treated as an addition to the document.</ins>
    </p>
    <p><u>This line of text will render as underlined</u></p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p><strong>This line rendered as bold text.</strong></p>
    <p><em>This line rendered as italicized text.</em></p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Inline Text Elements</mat-card-title>
  <mat-card-content>
    <p>Align terms and descriptions horizontally by using our grid system’s predefined classes (or semantic mixins). For longer terms, you can optionally add a
      <code class="highlighter-rouge">.text-truncate</code> class to truncate the text with an ellipsis.
    </p>
    <dl class="row">
      <dt class="col-sm-3">Description lists</dt>
      <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

      <dt class="col-sm-3">Euismod</dt>
      <dd class="col-sm-9">
        <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
        <p>Donec id elit non mi porta gravida at eget metus.</p>
      </dd>

      <dt class="col-sm-3">Malesuada porta</dt>
      <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

      <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
      <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

      <dt class="col-sm-3">Nesting</dt>
      <dd class="col-sm-9">
        <dl class="row">
          <dt class="col-sm-4">Nested definition list</dt>
          <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
        </dl>
      </dd>
    </dl>
  </mat-card-content>
</mat-card>
