<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <form [formGroup]="forgottenPasswordForm" autocomplete="off" validatedForm>
        <mat-card>
          <div class="d-flex justify-content-center pt-5 pb-3">
            <div class="logo-login"></div>
          </div>

          <div class="d-flex justify-content-center pt-1" i18n="@@login_forgotten_password_component_reset_forgotten_password">Forgotten Password</div>

          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label i18n="@@login_forgotten_password_component_label_username">Username</mat-label>
                  <input type="text" matInput formControlName="username" autofocus>
                  <mat-error *ngIf="usernameFormControl.errors && !usernameFormControl.untouched">
                    <span *ngIf="usernameFormControl.errors?.required" i18n="@@login_forgotten_password_component_error_username_required">A username is required.</span>
                    <span *ngIf="usernameFormControl.errors?.maxlength" i18n="@@login_forgotten_password_component_error_username_maxlength">Username must not exceed 100 characters.</span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="right">
            <button type="button" mat-flat-button color="link" (click)="cancel()" i18n="@@login_forgotten_password_component_button_cancel">Cancel</button>
            <button type="button" [disabled]="!forgottenPasswordForm.valid" (click)="resetPassword()" mat-flat-button color="primary" i18n="@@login_forgotten_password_component_button_continue">Continue</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
