<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <form [formGroup]="selectTenantForm" autocomplete="off" validatedForm>
        <mat-card style="width: 350px; margin-bottom: 0;">
          <div class="d-flex justify-content-center pt-5 pb-3">
            <div class="logo-login"></div>
          </div>
          <mat-card-content>
            <div class="row">
              <div class="col">
                <span i18n="@@login_select_tenant_component_explanation">Your user account is associated with multiple tenants. To proceed, please select the tenant you wish to login with.</span>
                <mat-form-field floatLabel="never">
                  <input type="text" matInput autocompleteSelectionRequired [formControl]="tenantFormControl" required="true" [matAutocomplete]="auto" i18n-placeholder="@@login_select_tenant_component_placeholder_select_an_tenant" placeholder="Select a tenant">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayTenant">
                    <mat-option *ngFor="let filteredTenant of filteredTenants$ | async" [value]="filteredTenant">
                      {{filteredTenant.name}}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="tenantFormControl.errors && !tenantFormControl.untouched">
                    <span *ngIf="tenantFormControl.errors?.required" i18n="@@login_select_tenant_component_error_please_select_an_tenant">Please select a tenant.</span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="right">
            <button type="button" [disabled]="!isTenantSelected()" (click)="ok()" mat-flat-button color="primary" i18n="@@login_select_tenant_component_button_ok">Ok</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
