<form [formGroup]="editGroupForm" autocomplete="off" class="d-flex flex-column flex-fill" validatedForm>
  <mat-card class="flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-fill">
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_edit_group_component_label_name">Name</mat-label>
            <input type="text" matInput formControlName="name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@security_edit_group_component_label_description">Description</mat-label>
            <input type="text" matInput formControlName="description" required="true" autofocus>
            <mat-error *ngIf="descriptionFormControl.errors && !descriptionFormControl.untouched">
              <span *ngIf="descriptionFormControl.errors?.required" i18n="@@security_edit_group_component_error_description_required">A description is required.</span>
              <span *ngIf="descriptionFormControl.errors?.maxlength" i18n="@@security_edit_group_component_error_description_maxlength">Description must not exceed 100 characters.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="align-right">
      <button type="button" mat-flat-button color="link" (click)="cancel()" i18n="@@security_edit_group_component_button_cancel">Cancel</button>
      <button type="button" mat-flat-button color="primary" [disabled]="!editGroupForm.valid" (click)="ok()" i18n="@@security_edit_group_component_button_ok">OK</button>
    </mat-card-actions>
  </mat-card>
</form>
