<ng-container [formGroup]="internalUserDirectoryForm">
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label i18n="@@security_internal_user_directory_component_label_max_password_attempts">Max Password Attempts</mat-label>
        <input type="text" matInput formControlName="maxPasswordAttempts" required>
        <mat-error *ngIf="maxPasswordAttemptsFormControl.errors && !maxPasswordAttemptsFormControl.untouched">
          <span *ngIf="maxPasswordAttemptsFormControl.errors?.required" i18n="@@security_internal_user_directory_component_error_max_password_attempts_required">The maximum number of password attempts is required.</span>
          <span *ngIf="maxPasswordAttemptsFormControl.errors?.pattern" i18n="@@security_internal_user_directory_component_error_max_password_attempts_pattern">A valid number is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label i18n="@@security_internal_user_directory_component_label_password_expiry_months">Password Expiry Months</mat-label>
        <input type="text" matInput formControlName="passwordExpiryMonths" required>
        <mat-error *ngIf="passwordExpiryMonthsFormControl.errors && !passwordExpiryMonthsFormControl.untouched">
          <span *ngIf="passwordExpiryMonthsFormControl.errors?.required" i18n="@@security_internal_user_directory_component_error_password_expiry_months_required">The number of months before a password expires is required.</span>
          <span *ngIf="passwordExpiryMonthsFormControl.errors?.pattern" i18n="@@security_internal_user_directory_component_error_password_expiry_months_pattern">A valid number is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label i18n="@@security_internal_user_directory_component_label_password_history_months">Password History Months</mat-label>
        <input type="text" matInput formControlName="passwordHistoryMonths" required>
        <mat-error *ngIf="passwordHistoryMonthsFormControl.errors && !passwordHistoryMonthsFormControl.untouched">
          <span *ngIf="passwordHistoryMonthsFormControl.errors?.required" i18n="@@security_internal_user_directory_component_error_password_history_months_required">The number of months before a password can be reused is required.</span>
          <span *ngIf="passwordHistoryMonthsFormControl.errors?.pattern" i18n="@@security_internal_user_directory_component_error_password_history_months_pattern">A valid number is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label i18n="@@security_internal_user_directory_component_label_max_filtered_users">Max Filtered Users</mat-label>
        <input type="text" matInput formControlName="maxFilteredUsers" required>
        <mat-error *ngIf="maxFilteredUsersFormControl.errors && !maxFilteredUsersFormControl.untouched">
          <span *ngIf="maxFilteredUsersFormControl.errors?.required" i18n="@@security_internal_user_directory_component_error_max_filtered_users_required">The maximum number of filtered users is required.</span>
          <span *ngIf="maxFilteredUsersFormControl.errors?.pattern" i18n="@@security_internal_user_directory_component_error_max_filtered_users_pattern">A valid number is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label i18n="@@security_internal_user_directory_component_label_max_filtered_groups">Max Filtered Groups</mat-label>
        <input type="text" matInput formControlName="maxFilteredGroups" required>
        <mat-error *ngIf="maxFilteredGroupsFormControl.errors && !maxFilteredGroupsFormControl.untouched">
          <span *ngIf="maxFilteredGroupsFormControl.errors?.required" i18n="@@security_internal_user_directory_component_error_max_filtered_groups_required">The maximum number of filtered groups is required.</span>
          <span *ngIf="maxFilteredGroupsFormControl.errors?.pattern" i18n="@@security_internal_user_directory_component_error_max_filtered_groups_pattern">A valid number is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label i18n="@@security_internal_user_directory_component_label_max_filtered_group_members">Max Filtered Group Members</mat-label>
        <input type="text" matInput formControlName="maxFilteredGroupMembers" required>
        <mat-error *ngIf="maxFilteredGroupMembersFormControl.errors && !maxFilteredGroupMembersFormControl.untouched">
          <span *ngIf="maxFilteredGroupMembersFormControl.errors?.required" i18n="@@security_internal_user_directory_component_error_max_filtered_group_members_required">The maximum number of filtered group members is required.</span>
          <span *ngIf="maxFilteredGroupMembersFormControl.errors?.pattern" i18n="@@security_internal_user_directory_component_error_max_filtered_group_members_pattern">A valid number is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</ng-container>
