<form [formGroup]="newTokenForm" autocomplete="off" class="d-flex flex-column flex-fill" validatedForm>
  <mat-card class="flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-fill">
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@security_new_token_component_label_name">Name</mat-label>
            <input type="text" matInput formControlName="name">
            @if (nameControl.errors && !nameControl.untouched) {
              <mat-error>
                @if (nameControl.errors?.['required']) {
                  <span i18n="@@security_new_token_component_error_name_required">A name is required.</span>
                }
                @if (nameControl.errors?.['maxlength']) {
                  <span i18n="@@security_new_token_component_error_name_maxlength">Name must not exceed 100 characters.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label i18n="@@security_new_token_component_label_type">Type</mat-label>
            <mat-select formControlName="type" required>
              <mat-option value="jwt">JWT</mat-option>
            </mat-select>
            @if (typeControl.errors && !typeControl.untouched) {
              <mat-error>
                @if (typeControl.errors?.['required']) {
                  <span>A type is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@security_new_token_component_label_description">Description</mat-label>
            <input type="text" matInput formControlName="description">
            @if (descriptionControl.errors && !descriptionControl.untouched) {
              <mat-error>
                @if (descriptionControl.errors?.['required']) {
                  <span i18n="@@security_new_token_component_error_description_required">A description is required.</span>
                }
                @if (descriptionControl.errors?.['maxlength']) {
                  <span i18n="@@security_new_token_component_error_description_maxlength">Description must not exceed 200 characters.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Valid From Date</mat-label>
            <input matInput [matDatepicker]="validFromDateDatePicker" (focus)="validFromDateDatePicker.open()" formControlName="validFromDate" readonly>
            <button type="button" matIconSuffix class="mat-datepicker-clear" (click)="$event.stopPropagation(); validFromDateControl.setValue(null)">
              <mat-icon>clear</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="validFromDateDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #validFromDateDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Expiry Date</mat-label>
            <input matInput [matDatepicker]="expiryDateDatePicker" (focus)="expiryDateDatePicker.open()" formControlName="expiryDate" readonly>
            <button type="button" matIconSuffix class="mat-datepicker-clear" (click)="$event.stopPropagation(); expiryDateControl.setValue(null)">
              <mat-icon>clear</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="expiryDateDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #expiryDateDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="mat-mdc-nested-table-header">
            <span class="mat-subtitle-1 mb-0 mt-2">Claims</span>
            <div class="mat-mdc-two-actions-cell">
              <button mat-icon-button (click)="newTokenClaim()">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <table class="mat-mdc-nested-table flex-fill">
            <tr class="mat-mdc-nested-header-row">
              <th class="mat-mdc-nested-header-cell" i18n="@@security_new_token_component_claims_table_header_name">Name</th>
              <th class="mat-mdc-nested-header-cell" i18n="@@security_new_token_component_claims_table_header_value">Value</th>
              <th class="mat-mdc-nested-header-cell mat-mdc-two-actions-cell" i18n="@@security_new_token_component_claims_table_header_actions">Actions</th>
            </tr>
            @for (claim of tokenClaims; track claim) {
              <tr class="mat-mdc-nested-row">
                <td class="mat-mdc-nested-cell">
                  {{claim.name}}
                </td>
                <td class="mat-mdc-nested-cell">
                  {{(claim.value !== null && claim.value!==undefined && claim.value.length > 0) ? claim.value : claim.values.join(',')}}
                </td>
                <td class="mat-mdc-nested-cell mat-mdc-two-actions-cell">
                  <button mat-icon-button (click)="editTokenClaim(claim)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button mat-icon-button (click)="deleteTokenClaim(claim)">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            }
          </table>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-flat-button color="link" (click)="cancel()" i18n="@@security_new_token_component_button_cancel">Cancel</button>
      <button type="button" mat-flat-button color="primary" [disabled]="!newTokenForm.valid" (click)="ok()" i18n="@@security_new_token_component_button_ok">OK</button>
    </mat-card-actions>
  </mat-card>
</form>
