<form [formGroup]="resetUserPasswordForm" autocomplete="off" class="d-flex flex-column flex-fill" validatedForm>
  <mat-card class="flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-fill">
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_reset_user_password_component_label_username">Username</mat-label>
            <input type="text" matInput formControlName="username">
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_reset_user_password_component_label_name">Name</mat-label>
            <input type="text" matInput formControlName="name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@security_reset_user_password_component_label_password">Password</mat-label>
            <input type="password" matInput formControlName="password">
            @if (passwordControl.errors && !passwordControl.untouched) {
              <mat-error>
                @if (passwordControl.errors?.['required']) {
                  <span i18n="@@security_reset_user_password_component_error_password_required">A password is required.</span>
                }
                @if (passwordControl.errors?.['maxlength']) {
                  <span i18n="@@security_reset_user_password_component_error_password_maxlength">Password must not exceed 100 characters.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@security_reset_user_password_component_label_confirm_password">Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword">
            @if (confirmPasswordControl.errors && !confirmPasswordControl.untouched) {
              <mat-error>
                @if (confirmPasswordControl.errors?.['required']) {
                  <span i18n="@@security_reset_user_password_component_error_confirm_password_required">A password is required.</span>
                }
                @if (confirmPasswordControl.errors?.['maxlength']) {
                  <span i18n="@@security_reset_user_password_component_error_confirm_password_maxlength">Password must not exceed 100 characters.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      @if (resetUserPasswordForm.contains('expirePassword') || resetUserPasswordForm.contains('lockUser') || resetUserPasswordForm.contains('resetPasswordHistory') ) {
        <div class="row">
          <div class="col-sm">
            <inception-core-group-form-field>
              <mat-label i18n="@@security_reset_user_password_component_label_options">Options</mat-label>
              @if (resetUserPasswordForm.contains('expirePassword')) {
                <mat-checkbox formControlName="expirePassword" i18n="@@security_reset_user_password_component_label_expire_password">Expire Password?</mat-checkbox>
              }
              @if (resetUserPasswordForm.contains('lockUser')) {
                <mat-checkbox formControlName="lockUser" i18n="@@security_reset_user_password_component_label_lock_user">Lock User?</mat-checkbox>
              }
              @if (resetUserPasswordForm.contains('resetPasswordHistory')) {
                <mat-checkbox formControlName="resetPasswordHistory" i18n="@@security_reset_user_password_component_label_reset_password_history">Reset Password History?</mat-checkbox>
              }
            </inception-core-group-form-field>
          </div>
        </div>
      }    </mat-card-content>
      <mat-card-actions align="end">
        <button type="button" mat-flat-button color="link" (click)="cancel()" i18n="@@security_reset_user_password_component_button_cancel">Cancel</button>
        <button type="button" mat-flat-button color="primary" [disabled]="!resetUserPasswordForm.valid" (click)="ok()" i18n="@@security_reset_user_password_component_button_ok">OK</button>
      </mat-card-actions>
    </mat-card>
  </form>
