<form autocomplete="off" class="d-flex flex-column flex-fill">
  <mat-card class="flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-fill">
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_view_token_component_label_id">ID</mat-label>
            <input type="text" matInput [value]="token?.id" [disabled]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_view_token_component_label_name">Name</mat-label>
            <input type="text" matInput [value]="token?.name" [disabled]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_view_token_component_label_type">Type</mat-label>
            <input type="text" matInput [value]="getTokenTypeName(token?.type)" [disabled]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_view_token_component_label_description">Description</mat-label>
            <input type="text" matInput [value]="token?.description" [disabled]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_view_token_component_label_issued">Issued</mat-label>
            <input type="text" matInput [value]="token?.issued" [disabled]="true">
          </mat-form-field>
        </div>
      </div>
      @if (token?.validFromDate) {
        <div class="row">
          <div class="col-sm">
            <mat-form-field class="static">
              <mat-label i18n="@@security_view_token_component_label_valid_from">Valid From Date</mat-label>
              <input type="text" matInput [value]="token?.validFromDate" [disabled]="true">
            </mat-form-field>
          </div>
        </div>
      }
      @if (token?.expiryDate) {
        <div class="row">
          <div class="col-sm">
            <mat-form-field class="static">
              <mat-label i18n="@@security_view_token_component_label_expires">Expiry Date</mat-label>
              <input type="text" matInput [value]="token?.expiryDate" [disabled]="true">
            </mat-form-field>
          </div>
        </div>
      }
      @if (token?.revocationDate) {
        <div class="row">
          <div class="col-sm">
            <mat-form-field class="static">
              <mat-label i18n="@@security_view_token_component_label_revoked">Revocation Date</mat-label>
              <input type="text" matInput [value]="token?.revocationDate" [disabled]="true">
            </mat-form-field>
          </div>
        </div>
      }
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_view_token_component_label_data">Data</mat-label>
            <textarea matInput [value]="token?.data" [disabled]="true" cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="mat-mdc-nested-table-header">
            <span class="mat-subtitle-1 mb-0 mt-2">Claims</span>
          </div>
          <table class="mat-mdc-nested-table flex-fill">
            <tr class="mat-mdc-nested-header-row">
              <th class="mat-mdc-nested-header-cell" i18n="@@security_view_token_component_claims_table_header_name">Name</th>
              <th class="mat-mdc-nested-header-cell" i18n="@@security_view_token_component_claims_table_header_value">Value</th>
            </tr>
            @for (claim of token?.claims; track claim) {
              <tr class="mat-mdc-nested-row">
                <td class="mat-mdc-nested-cell">
                  {{claim.name}}
                </td>
                <td class="mat-mdc-nested-cell">
                  {{(claim.value !== null && claim.value!==undefined && claim.value.length > 0) ? claim.value : claim.values.join(',')}}
                </td>
              </tr>
            }
          </table>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-flat-button color="link" (click)="back()" i18n="@@security_view_token_component_button_back">Back</button>
    </mat-card-actions>
  </mat-card>
</form>
