<spinner [shown]="true"></spinner>
<div class="app flex-row align-items-center" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="card p-2" style="min-width: 400px;">
        <div class="card-body">
          <h1>Login</h1>
          <p class="text-muted">Sign in to your account</p>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" inceptionValidatedForm>

            <mat-form-field>
              <input matInput placeholder="Username" type="text">
              <span matSuffix><i class="icon-user"></i></span>
            </mat-form-field>

            <div class="formGroup mb-3">




              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input id="username" name="username" formControlName="username" type="text" class="form-control" placeholder="Username" inceptionAutofocus>
              </div>
              <div *ngIf="loginForm.controls['username'].errors && !loginForm.controls['username'].untouched" class="form-control-error">
                <div *ngIf="loginForm.controls['username'].errors?.required">A username is required.</div>
                <div *ngIf="loginForm.controls['username'].errors?.patternInvalid">A valid username is required.</div>
              </div>
            </div>

            <div class="formGroup mb-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input id="password" name="password" formControlName="password" type="password" class="form-control" placeholder="Password">
              </div>
              <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].untouched" class="form-control-error">
                <div *ngIf="loginForm.controls['password'].errors?.required">A password is required.</div>
              </div>
            </div>

            <div class="form-buttons">
              <button type="submit" class="btn btn-primary px-4 float-right ml-2">Login</button>
              <button type="button" class="btn btn-secondary px-4 float-right" (click)="onCancel()">Cancel</button>
              <button *ngIf="isForgottenPasswordEnabled()" type="button" class="btn btn-link px-0">Forgot password?</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
