<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>Login</h1>
              <p class="text-muted">Sign in to your account</p>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" inceptionValidatedForm>

                <div class="formGroup mb-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" name="username" formControlName="username" inceptionAutofocus>
                  </div>
                  <div *ngIf="loginForm.controls['username'].errors && !loginForm.controls['username'].untouched" class="form-control-error">
                    <div *ngIf="loginForm.controls['username'].errors?.required">A username is required.</div>
                    <div *ngIf="loginForm.controls['username'].errors?.patternInvalid">A valid username is required.</div>
                  </div>
                </div>

                <div class="formGroup mb-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" name="password" formControlName="password">
                  </div>
                  <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].untouched" class="form-control-error">
                    <div *ngIf="loginForm.controls['password'].errors?.required">A password is required.</div>
                  </div>
                </div>

                <div class="form-buttons">
                  <button type="submit" class="btn btn-primary px-4 float-right ml-2">Login</button>
                  <button type="button" class="btn btn-secondary px-4 float-right" (click)="onCancel()">Cancel</button>
                  <button *ngIf="isForgottenPasswordEnabled()" type="button" class="btn btn-link px-0">Forgot password?</button>
                </div>
              </form>
            </div>
          </div>
          <div *ngIf="isRegistrationEnabled()" class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
