// noinspection SassScssResolvedByNameOnly
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

// noinspection SassScssResolvedByNameOnly
h1, .h1 { font-size: $h1-font-size; }

// noinspection SassScssResolvedByNameOnly
h2, .h2 { font-size: $h2-font-size; }

// noinspection SassScssResolvedByNameOnly
h3, .h3 { font-size: $h3-font-size; }

// noinspection SassScssResolvedByNameOnly
h4, .h4 { font-size: $h4-font-size; }

// noinspection SassScssResolvedByNameOnly
h5, .h5 { font-size: $h5-font-size; }

// noinspection SassScssResolvedByNameOnly
h6, .h6 { font-size: $h6-font-size; }

// Type display classes
// noinspection SassScssResolvedByNameOnly
.display-1 {
  font-size: $display1-font-size;
  font-weight: $display1-font-weight;
  line-height: $display-line-height;
}

// noinspection SassScssResolvedByNameOnly
.display-2 {
  font-size: $display2-font-size;
  font-weight: $display2-font-weight;
  line-height: $display-line-height;
}

// noinspection SassScssResolvedByNameOnly
.display-3 {
  font-size: $display3-font-size;
  font-weight: $display3-font-weight;
  line-height: $display-line-height;
}

// noinspection SassScssResolvedByNameOnly
.display-4 {
  font-size: $display4-font-size;
  font-weight: $display4-font-weight;
  line-height: $display-line-height;
}

// noinspection SassScssResolvedByNameOnly
code {
  font-size: $code-font-size;
}

// noinspection SassScssResolvedByNameOnly
hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

// noinspection SassScssResolvedByNameOnly
small, .small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

// noinspection SassScssResolvedByNameOnly
.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
// noinspection SassScssResolvedByNameOnly
.list-inline {
  @include list-unstyled;
}

// noinspection SassScssResolvedByNameOnly
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}

// noinspection SassScssResolvedByNameOnly
.blockquote {
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
}

// noinspection SassScssResolvedByNameOnly
.blockquote-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;

  &::before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}

.font-xxs {
  font-size: .75rem !important;
}

.font-xs {
  font-size: .875rem !important;
}

.font-sm {
  font-size: .9375rem !important;
}

.font-lg {
  font-size: 1rem !important;
}

.font-xl {
  font-size: 1.25rem !important;
}

.font-2xl {
  font-size: 1.5rem !important;
}

.font-3xl {
  font-size: 1.75rem !important;
}

.font-4xl {
  font-size: 2rem !important;
}

.font-5xl {
  font-size: 2.5rem !important;
}

.text-white .text-muted {
  color: rgba(255, 255, 255, .6) !important;
}

