
// THIS IS NEW
.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger,
.bg-dark {
  color: #fff;
}


// SAME AS BOOTSTRAP
//@each $color, $value in $theme-colors {
//  @include bg-variant(".bg-#{$color}", $value);
//}


// THIS IS NEW
@each $color, $value in $grays {
  @include bg-variant(".bg-gray-#{$color}", $value);
}

// THIS IS NEW
.bg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: ($spacer * 2.5);
  height: ($spacer * 2.5);
}
