


.form-buttons {
  overflow: auto;
}

/*
.form-group-separator {
  border-top: 1px solid #e9e9e9;
  height: 1px;
  margin-bottom: 15px;
}
*/




.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.form-control-error {
  display: block;
  width: 100%;
  margin-top: .25rem;
  color: #dc3545;
  padding-left: 5px;

}





