
.form-buttons {

}

.form-group {

}

.form-control:focus {
  box-shadow: none;
  border-color: $gray-300;
}

.form-control-error {
  color: $red !important;
  padding-left: 5px;
  padding-top: 2px;
  font-size: 0.9em;
}

.form-control-static {
  color: $gray-700;
}

.form-control.ng-invalid {

  border-left: 3px solid $red !important;

  /*border-color: $red !important;*/
}


.ng-select {
  &.ng-select-focused > .ng-select-container {
    border-color: $gray-300;
  }

  &.ng-invalid > .ng-dropdown-panel {
  }
}

.ng-select.ng-invalid > .ng-select-container {
  border-left: 3px solid $red !important;
}

.ng-select {
  &.ng-select-focused {
    &.ng-invalid > .ng-select-container {
      border-left: 3px solid $red !important;

      /*border-color: $red !important;*/
    }

    &.ng-invalid > .ng-dropdown-panel {
      /*border-left: 2px solid $red important;*/

      /*border-color: $red !important;*/
    }
  }
}

.ng-select {
  &.ng-select-focused {
    &:not(.ng-select-opened) > .ng-select-container {
      border-color: $gray-300;
      /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1); */
    }
  }
}




/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color:  $gray-700;
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: $gray-700;
  transition: background-color 5000s ease-in-out 0s;
}
