// IE10&11 Flexbox fix
@media all and (-ms-high-contrast: none) {
  html {
    display: flex;
    flex-direction: column;
  }
}

// stylelint-disable selector-type-no-unknown, no-duplicate-selectors, selector-no-qualifying-type
// admin-dashboard and admin-root are Angular2+ selectors. You can add here your own selectors if you need.
.app,
admin-container,
admin-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin-header {
  flex: 0 0 $admin-header-height;
}

.admin-footer {
  flex: 0 0 $admin-footer-height;
}

.admin-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;

  .admin-main {
    flex: 1;
    min-width: 0;
  }

  .sidebar {
    // $sidebar-width is the width of the columns
    flex: 0 0 $sidebar-width;
    // put the nav on the left
    order: -1;
  }
}

html:not([dir="rtl"]) {
  .sidebar {
    margin-left: - $sidebar-width;
  }
}
html[dir="rtl"] {
  .sidebar {
    margin-right: - $sidebar-width;
  }
}

@include media-breakpoint-up(lg) {
  //
  // Header
  //
  .admin-header-fixed {
    .admin-header {
      position: fixed;
      z-index: $zindex-sticky;
      width: 100%;
    }
    .admin-body {
      margin-top: $admin-header-height;
    }
  }
  //
  // Sidebar
  //
  .sidebar-fixed {
    .sidebar {
      position: fixed;
      z-index: $zindex-sticky - 1;
      width: $sidebar-width;
      height: 100vh;
    }
  }
  .sidebar-fixed {
    .admin-header + .admin-body .sidebar {
      height: calc(100vh - #{$admin-header-height});
    }
  }

  .sidebar-compact {
    .sidebar {
      flex: 0 0 $sidebar-compact-width;
    }

    &.sidebar-fixed {
      .sidebar {
        width: $sidebar-compact-width;
      }
    }
    .sidebar-minimizer {
      display: none;
    }
  }

  .sidebar-minimized {
    .sidebar {
      flex: 0 0 $sidebar-minimized-width;
    }

    &.sidebar-fixed {
      .sidebar {
        width: $sidebar-minimized-width;
      }
    }
  }

  .sidebar-off-canvas {
    .sidebar {
      position: fixed;
      z-index: $zindex-sticky - 1;
      height: 100%;
    }
  }

  .sidebar-off-canvas {
    .admin-header + .admin-body .sidebar {
      height: calc(100vh - #{$admin-header-height});
    }
  }

  html:not([dir="rtl"]) {
    .sidebar-compact {
      .sidebar {
        margin-left: - $sidebar-compact-width;
      }
    }
    .sidebar-minimized {
      .sidebar {
        margin-left: - $sidebar-minimized-width;
      }
    }
  }
  html[dir="rtl"] {
    .sidebar-compact {
      .sidebar {
        margin-right: - $sidebar-compact-width;
      }
    }
    .sidebar-minimized {
      .sidebar {
        margin-right: - $sidebar-minimized-width;
      }
    }
  }
}

//
// Breadcrumb
//
.breadcrumbs-fixed {
  .admin-main {
    $breadcrumb-height: 2 * $breadcrumb-padding-y + $font-size-base + 1.5 * $spacer;
    padding-top: $breadcrumb-height;
  }

  .breadcrumb {
    position: fixed;
    top: $admin-header-height;
    right: 0;
    left: 0;
    z-index: $zindex-sticky - 3;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    html:not([dir="rtl"]) {
      .sidebar#{$infix}-show {
        .sidebar {
          margin-left: 0;
        }
        @include media-breakpoint-up(sm) {
          &.sidebar-fixed {
            .admin-main,
            .admin-footer {
              margin-left: $sidebar-width;
            }
            &.sidebar-compact {
              .admin-main,
              .admin-footer {
                margin-left: $sidebar-compact-width;
              }
            }
            &.sidebar-minimized {
              .admin-main,
              .admin-footer {
                margin-left: $sidebar-minimized-width;
              }
            }
          }
          &.breadcrumbs-fixed {
            .breadcrumb {
              left: $sidebar-width;
            }
            &.sidebar-compact {
              .breadcrumb {
                left: $sidebar-compact-width;
              }
            }
            &.sidebar-minimized {
              .breadcrumb {
                left: $sidebar-minimized-width;
              }
            }
          }
        }
      }
    }

    html[dir="rtl"] {
      .sidebar#{$infix}-show {
        .sidebar {
          margin-right: 0;
        }
        @include media-breakpoint-up(sm) {
          &.sidebar-fixed {
            .admin-main,
            .admin-footer {
              margin-right: $sidebar-width;
            }
            &.sidebar-compact {
              .admin-main,
              .admin-footer {
                margin-right: $sidebar-compact-width;
              }
            }
            &.sidebar-minimized {
              .admin-main,
              .admin-footer {
                margin-right: $sidebar-minimized-width;
              }
            }
          }
          &.breadcrumbs-fixed {
            .breadcrumb {
              right: $sidebar-width;
            }
            &.sidebar-compact {
              .breadcrumb {
                right: $sidebar-compact-width;
              }
            }
            &.sidebar-minimized {
              .breadcrumb {
                right: $sidebar-minimized-width;
              }
            }
          }
        }
      }


    }
    .sidebar#{$infix}-show {
      @keyframes opacity {
        0%   { opacity: 0; }
        100% { opacity: 1; }
      }

      @include media-breakpoint-down(xs) {
        .admin-main {
          position: relative;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: $zindex-sticky - 2;
            width: 100%;
            height: 100%;
            content: "";
            background: rgba(0, 0, 0, .7);
            animation: opacity $layout-transition-speed;
          }
        }
      }
    }
  }
}

//
// Footer
//
.admin-footer-fixed {
  .admin-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-sticky;
    height: $admin-footer-height;
  }

  .admin-body {
    margin-bottom: $admin-footer-height;
  }
}

//
// Animations
//
.admin-header,
.admin-footer,
.sidebar,
.admin-main {
  transition: margin-left $layout-transition-speed, margin-right $layout-transition-speed, width $layout-transition-speed, flex $layout-transition-speed;
}
.sidebar-nav {
  transition: width $layout-transition-speed;
}
.breadcrumb {
  transition: left $layout-transition-speed, right $layout-transition-speed, width $layout-transition-speed;
}

//
// Mobile layout
//

@include media-breakpoint-down(md) {
  .admin-header {
    position: fixed;
    z-index: $zindex-sticky;
    width: 100%;
    text-align: center;
    @if $admin-header-brand-bg == transparent {
      background-color: $admin-header-bg;
    } @else {
      background-color: $admin-header-brand-bg;
    }
    @include borders($admin-header-brand-border);

    .navbar-toggler {
      @if (lightness( $admin-header-brand-bg ) > 40) {
        color: $admin-header-color;
      } @else {
        color: #fff;
      }
    }

    .navbar-brand {
      position: absolute;
      left: 50%;
      margin-left: - (($admin-header-brand-width / 2) + 24);
    }
  }

  .admin-body {
    margin-top: $admin-header-height;
  }

  .sidebar {
    position: fixed;
    z-index: $zindex-sticky - 1;
    width: $sidebar-width;
    height: calc(100vh - #{$admin-header-height});
  }

  .sidebar-minimizer {
    display: none;
  }
}
