
.spinner
{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../images/spinner.gif");
  background-position: center center;
  background-size: 40px 40px;
  background-repeat: no-repeat, repeat;
}

.spinner-shown {
  display: block !important;
}
