// scss-lint:disable all
// Core Admin Variables

$enable-sidebar-nav-rounded:          false !default;

$border-color:                        $gray-200 !default;
$layout-transition-speed:             .25s !default;

// Social Colors

$facebook:                            #3b5998 !default;
$twitter:                             #00aced !default;
$linkedin:                            #4875b4 !default;
$google-plus:                         #d34836 !default;
$flickr:                              #ff0084 !default;
$tumblr:                              #32506d !default;
$xing:                                #026466 !default;
$github:                              #4183c4 !default;
$html5:                               #e34f26 !default;
$openid:                              #f78c40 !default;
$stack-overflow:                      #fe7a15 !default;
$youtube:                             #b00 !default;
$css3:                                #0170ba !default;
$dribbble:                            #ea4c89 !default;
$google-plus:                         #bb4b39 !default;
$instagram:                           #517fa4 !default;
$pinterest:                           #cb2027 !default;
$vk:                                  #45668e !default;
$yahoo:                               #400191 !default;
$behance:                             #1769ff !default;
$dropbox:                             #007ee5 !default;
$reddit:                              #ff4500 !default;
$spotify:                             #7ab800 !default;
$vine:                                #00bf8f !default;
$foursquare:                          #1073af !default;
$vimeo:                               #aad450 !default;

// Navbar

$navbar-height:                       55px !default;
$navbar-bg:                           #fff !default;
$navbar-border: (
  bottom: (
    size:                             1px,
    style:                            solid,
    color:                            $border-color
  )
)  !default;
$navbar-brand-width:                  155px !default;
$navbar-brand-bg:                     #fff !default;
$navbar-brand-logo:                   url('../images/logo.png') !default;
$navbar-brand-logo-size:              100px auto !default;
$navbar-brand-border: (
  bottom: (
    size:                             1px,
    style:                            solid,
    color:                            $border-color
  )
) !default;

$navbar-brand-minimized-width:        50px !default;
$navbar-brand-minimized-bg:           $navbar-brand-bg !default;
$navbar-brand-minimized-logo:         url('../images/logo-symbol.png') !default;
$navbar-brand-minimized-logo-size:    24px !default;
$navbar-brand-minimized-border:       $navbar-brand-border !default;

$navbar-color:                        $gray-600 !default;
$navbar-hover-color:                  $gray-800 !default;
$navbar-active-color:                 $gray-800 !default;
$navbar-disabled-color:               $gray-300 !default;

$navbar-toggler-icon:                 str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-color}' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-toggler-icon-hover:           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-hover-color}' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;

$navbar-toggler-user-icon:            str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 487.6 487.6' style='enable-background:new 0 0 487.6 487.6;' xml:space='preserve' width='512px' height='512px'%3E%3Cg%3E%3Cg%3E%3Cpath d='M0,243.8c0,134.4,109.4,243.8,243.8,243.8s243.8-109.4,243.8-243.8S378.2,0,243.8,0C109.4,0,0,109.4,0,243.8z M101.9,410.8c36-24.3,66.9-39.9,76-44.4c5.5-2.7,9-8.2,9-14.4v-30.6c0-2.2-0.6-4.3-1.7-6.2c-6.2-10.5-10.5-23.1-12.7-37.4 c-0.7-4.8-4.3-8.7-8.8-9.9c-1.2-1.5-4.6-6.7-8.9-21.8c-3.4-12-3.4-17.9-3.1-20.3c3.7,0,7.3-1.7,9.6-4.7c2.6-3.3,3.3-7.7,1.9-11.6 c-4.8-13.6-5.4-27.5-1.7-41.7c3.2-13.6,10.5-26.4,21.8-38c6.1-6.5,13.1-12.3,20.6-17c0.1-0.1,0.3-0.2,0.4-0.3 c6.3-4.4,12.8-7.7,19.3-9.9h0.1c5.5-1.9,11.2-2.9,17.3-3.2c16.4-1.4,31.1,1.6,44,9.3c14.2,7.8,19.9,18,19.9,18 c2,3.8,5.8,6.3,10,6.6c0.1,0,5.5,1,10.4,7.4c5.8,7.7,14,27.7,4,76c-1.1,5.5,1.6,11,6.5,13.4c0.4,1.9,0.9,7.7-2.9,21.2 c-3.4,12-6.2,17.7-7.9,20.3c-2.1-0.3-4.4,0-6.4,0.8c-3.8,1.6-6.6,5.1-7.3,9.1c-2,11.3-5.1,21.4-9.3,30c-0.8,1.7-1.2,3.5-1.2,5.3 v35.4c0,6.2,3.4,11.7,9,14.4c9.2,4.5,40.1,20.2,76,44.4c-38.3,32.6-87.8,52.3-141.9,52.3C189.7,463.1,140.2,443.4,101.9,410.8z M243.8,24.5c120.9,0,219.3,98.4,219.3,219.3c0,57.8-22.5,110.5-59.2,149.7c-34.3-23.5-64.8-39.8-78.6-46.7v-27.4 c3.3-7.2,6-15.2,8-23.7c9.8-3.7,16.7-15.1,23.2-38c5.9-20.9,5.4-35.6-1.6-44c7.3-40.1,4-69.7-9.9-88c-7.2-9.6-15.6-13.8-21.4-15.6 c-4.1-5.8-12.4-15.2-26.2-22.8c-17.1-10.1-36.7-14.3-57.8-12.5c-8,0.4-15.9,1.9-23.6,4.5h-0.1c-8.6,2.9-17,7.2-25.1,12.8 c-9.2,5.9-17.7,12.9-25,20.6c-14.4,14.7-23.8,31.3-27.9,49c-3.8,14.6-4.2,29.2-1.1,43.6c-1.3,1-2.6,2.1-3.7,3.5 c-7.2,8.7-7.8,22.6-1.8,43.9c4,14.1,9.2,28.6,18.2,35.3c2.7,13.5,7,25.8,12.9,36.6v22.2c-13.7,6.9-44.3,23.2-78.6,46.7 c-36.7-39.2-59.3-91.9-59.3-149.7C24.5,122.9,122.9,24.5,243.8,24.5z' fill='%235b6c78'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A"), "#", "%23") !default;
$navbar-toggler-user-icon-hover:      str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 487.6 487.6' style='enable-background:new 0 0 487.6 487.6;' xml:space='preserve' width='512px' height='512px'%3E%3Cg%3E%3Cg%3E%3Cpath d='M0,243.8c0,134.4,109.4,243.8,243.8,243.8s243.8-109.4,243.8-243.8S378.2,0,243.8,0C109.4,0,0,109.4,0,243.8z M101.9,410.8c36-24.3,66.9-39.9,76-44.4c5.5-2.7,9-8.2,9-14.4v-30.6c0-2.2-0.6-4.3-1.7-6.2c-6.2-10.5-10.5-23.1-12.7-37.4 c-0.7-4.8-4.3-8.7-8.8-9.9c-1.2-1.5-4.6-6.7-8.9-21.8c-3.4-12-3.4-17.9-3.1-20.3c3.7,0,7.3-1.7,9.6-4.7c2.6-3.3,3.3-7.7,1.9-11.6 c-4.8-13.6-5.4-27.5-1.7-41.7c3.2-13.6,10.5-26.4,21.8-38c6.1-6.5,13.1-12.3,20.6-17c0.1-0.1,0.3-0.2,0.4-0.3 c6.3-4.4,12.8-7.7,19.3-9.9h0.1c5.5-1.9,11.2-2.9,17.3-3.2c16.4-1.4,31.1,1.6,44,9.3c14.2,7.8,19.9,18,19.9,18 c2,3.8,5.8,6.3,10,6.6c0.1,0,5.5,1,10.4,7.4c5.8,7.7,14,27.7,4,76c-1.1,5.5,1.6,11,6.5,13.4c0.4,1.9,0.9,7.7-2.9,21.2 c-3.4,12-6.2,17.7-7.9,20.3c-2.1-0.3-4.4,0-6.4,0.8c-3.8,1.6-6.6,5.1-7.3,9.1c-2,11.3-5.1,21.4-9.3,30c-0.8,1.7-1.2,3.5-1.2,5.3 v35.4c0,6.2,3.4,11.7,9,14.4c9.2,4.5,40.1,20.2,76,44.4c-38.3,32.6-87.8,52.3-141.9,52.3C189.7,463.1,140.2,443.4,101.9,410.8z M243.8,24.5c120.9,0,219.3,98.4,219.3,219.3c0,57.8-22.5,110.5-59.2,149.7c-34.3-23.5-64.8-39.8-78.6-46.7v-27.4 c3.3-7.2,6-15.2,8-23.7c9.8-3.7,16.7-15.1,23.2-38c5.9-20.9,5.4-35.6-1.6-44c7.3-40.1,4-69.7-9.9-88c-7.2-9.6-15.6-13.8-21.4-15.6 c-4.1-5.8-12.4-15.2-26.2-22.8c-17.1-10.1-36.7-14.3-57.8-12.5c-8,0.4-15.9,1.9-23.6,4.5h-0.1c-8.6,2.9-17,7.2-25.1,12.8 c-9.2,5.9-17.7,12.9-25,20.6c-14.4,14.7-23.8,31.3-27.9,49c-3.8,14.6-4.2,29.2-1.1,43.6c-1.3,1-2.6,2.1-3.7,3.5 c-7.2,8.7-7.8,22.6-1.8,43.9c4,14.1,9.2,28.6,18.2,35.3c2.7,13.5,7,25.8,12.9,36.6v22.2c-13.7,6.9-44.3,23.2-78.6,46.7 c-36.7-39.2-59.3-91.9-59.3-149.7C24.5,122.9,122.9,24.5,243.8,24.5z' fill='%235b6c78'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A"), "#", "%23") !default;

$navbar-toggler-login-icon:            str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 612 612' style='enable-background:new 0 0 612 612;' xml:space='preserve'%3E%3Cg%3E%3Cg id='_x36__30_'%3E%3Cg%3E%3Cpath d='M331.685,425.378c-7.478,7.479-7.478,19.584,0,27.043c7.479,7.478,19.584,7.478,27.043,0l131.943-131.962 c3.979-3.979,5.681-9.276,5.412-14.479c0.269-5.221-1.434-10.499-5.412-14.477L358.728,159.56 c-7.459-7.478-19.584-7.478-27.043,0c-7.478,7.478-7.478,19.584,0,27.042l100.272,100.272H19.125C8.568,286.875,0,295.443,0,306 c0,10.557,8.568,19.125,19.125,19.125h412.832L331.685,425.378z M535.5,38.25H153c-42.247,0-76.5,34.253-76.5,76.5v76.5h38.25 v-76.5c0-21.114,17.117-38.25,38.25-38.25h382.5c21.133,0,38.25,17.136,38.25,38.25v382.5c0,21.114-17.117,38.25-38.25,38.25H153 c-21.133,0-38.25-17.117-38.25-38.25v-76.5H76.5v76.5c0,42.247,34.253,76.5,76.5,76.5h382.5c42.247,0,76.5-34.253,76.5-76.5 v-382.5C612,72.503,577.747,38.25,535.5,38.25z' fill='%235b6c78'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A"), "#", "%23") !default;
$navbar-toggler-login-icon-hover:      str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 612 612' style='enable-background:new 0 0 612 612;' xml:space='preserve'%3E%3Cg%3E%3Cg id='_x36__30_'%3E%3Cg%3E%3Cpath d='M331.685,425.378c-7.478,7.479-7.478,19.584,0,27.043c7.479,7.478,19.584,7.478,27.043,0l131.943-131.962 c3.979-3.979,5.681-9.276,5.412-14.479c0.269-5.221-1.434-10.499-5.412-14.477L358.728,159.56 c-7.459-7.478-19.584-7.478-27.043,0c-7.478,7.478-7.478,19.584,0,27.042l100.272,100.272H19.125C8.568,286.875,0,295.443,0,306 c0,10.557,8.568,19.125,19.125,19.125h412.832L331.685,425.378z M535.5,38.25H153c-42.247,0-76.5,34.253-76.5,76.5v76.5h38.25 v-76.5c0-21.114,17.117-38.25,38.25-38.25h382.5c21.133,0,38.25,17.136,38.25,38.25v382.5c0,21.114-17.117,38.25-38.25,38.25H153 c-21.133,0-38.25-17.117-38.25-38.25v-76.5H76.5v76.5c0,42.247,34.253,76.5,76.5,76.5h382.5c42.247,0,76.5-34.253,76.5-76.5 v-382.5C612,72.503,577.747,38.25,535.5,38.25z' fill='%2331393f'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A"), "#", "%23") !default;


// Sidebar

$sidebar-width:                       200px !default;
$sidebar-padding:                     0 !default;
$sidebar-minimized-width:             50px !default;
$sidebar-minimized-height:            $sidebar-minimized-width !default;
$sidebar-compact-width:               150px !default;
$sidebar-compact-height:              $sidebar-compact-width !default;
$sidebar-color:                       #fff !default;
$sidebar-bg:                          $gray-800 !default;
$sidebar-borders:                     none !default;
$mobile-sidebar-width:                220px !default;

// Sidebar Header

$sidebar-header-height:               auto !default;
$sidebar-header-bg:                   rgba(0,0,0,.2) !default;
$sidebar-header-padding-y:            .75rem !default;
$sidebar-header-padding-x:            1rem !default;

// Sidebar Form

$sidebar-form-border:                 0 !default;
$sidebar-form-bg:                     darken($sidebar-bg,10%) !default;
$sidebar-form-color:                  #fff !default;
$sidebar-form-placeholder-color:      rgba(255,255,255,.7) !default;

// Sidebar Navigation

$sidebar-nav-color:                   #fff !default;
$sidebar-nav-title-padding-y:         .75rem !default;
$sidebar-nav-title-padding-x:         1rem !default;
$sidebar-nav-title-color:             $gray-200 !default;
$sidebar-nav-link-padding-y:          .75rem !default;
$sidebar-nav-link-padding-x:          1rem !default;
$sidebar-nav-link-color:              #fff !default;
$sidebar-nav-link-bg:                 transparent !default;
$sidebar-nav-link-icon-color:         $gray-600 !default;
$sidebar-nav-link-borders:            0 !default;

$sidebar-nav-link-hover-color:        #fff !default;
$sidebar-nav-link-hover-bg:           theme-color("primary") !default;
$sidebar-nav-link-hover-icon-color:   #fff !default;
$sidebar-nav-link-hover-borders:      0 !default;

$sidebar-nav-link-active-color:       #fff !default;
$sidebar-nav-link-active-bg:          lighten($sidebar-bg, 5%) !default;
$sidebar-nav-link-active-icon-color:  theme-color("primary") !default;
$sidebar-nav-link-active-borders:     0 !default;

$sidebar-nav-dropdown-color:          #fff !default;
$sidebar-nav-dropdown-bg:             rgba(0,0,0,.2) !default;
$sidebar-nav-dropdown-borders:        0 !default;
$sidebar-nav-dropdown-indicator-color:$gray-600 !default;
$sidebar-nav-dropdown-indicator:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='#{$sidebar-nav-dropdown-indicator-color}' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E"), "#", "%23") !default;
$sidebar-nav-dropdown-indicator-hover-color:$sidebar-nav-link-hover-color;
$sidebar-nav-dropdown-indicator-hover:str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='#{$sidebar-nav-dropdown-indicator-hover-color}' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E"), "#", "%23") !default;

// Sidebar Footer

$sidebar-footer-height:               auto !default;
$sidebar-footer-bg:                   rgba(0,0,0,.2) !default;
$sidebar-footer-padding-y:            .75rem !default;
$sidebar-footer-padding-x:            1rem !default;
$sidebar-footer-borders:              0 !default;

// Sidebar Minimizer

$sidebar-minimizer-height:            50px !default;
$sidebar-minimizer-bg:                rgba(0,0,0,.2) !default;
$sidebar-minimizer-borders:           0 !default;
$sidebar-minimizer-indicator-color:   $gray-600 !default;
$sidebar-minimizer-indicator:         str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='#{$sidebar-minimizer-indicator-color}' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E"), "#", "%23") !default;
$sidebar-minimizer-hover-bg:          rgba(0,0,0,.3) !default;
$sidebar-minimizer-hover-indicator-color:$sidebar-nav-link-hover-color !default;
$sidebar-minimizer-hover-indicator:   str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='#{$sidebar-minimizer-hover-indicator-color}' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E"), "#", "%23") !default;


// Top Navigation

$top-nav-bg:                          #fff !default;
$top-nav-color:                       $body-color !default;
$top-nav-borders: (
  bottom: (
    size:                             1px,
    style:                            solid,
    color:                            $border-color
  )
) !default;
$top-nav-ul-borders: (
  all: (
    size:                             1px,
    style:                            solid,
    color:                            $border-color
  )
) !default;

$top-nav-hover-color:                 #fff !default;
$top-nav-hover-bg:                    theme-color("primary") !default;
$top-nav-active-color:                #fff !default;
$top-nav-active-bg:                   theme-color("primary") !default;
$top-nav-height:                      $navbar-height - 15px !default;

// Breadcrumb
$breadcrumb-borders: (
  bottom: (
    size:                             1px,
    style:                            solid,
    color:                            $border-color
  )
) !default;

// Aside

$aside-menu-width:                    250px !default;
$aside-menu-color:                    $gray-800 !default;
$aside-menu-bg:                       #fff !default;
$aside-menu-borders: (
  left: (
    size:                             1px,
    style:                            solid,
    color:                            $border-color
  )
) !default;

$aside-menu-nav-padding-y:            .75rem !default;
$aside-menu-nav-padding-x:            1rem !default;

// Footer

$footer-height:                       50px !default;
$footer-bg:                           $gray-100 !default;
$footer-color:                        $body-color !default;
$footer-borders: (
  top: (
    size:                             1px,
    style:                            solid,
    color:                            $border-color
  )
) !default;

// Cards

$card-icon-bg:                        transparent !default;
$card-icon-color:                     $body-color !default;
