<form [formGroup]="newCodeCategoryForm" (submit)="onSubmit()" autocomplete="off" class="d-flex flex-column flex-fill" validatedForm>
  <mat-card class="flex flex-column flex-fill">
    <mat-card-content class="d-flex flex-column flex-fill">


XXX


    </mat-card-content>
    <mat-card-actions class="align-right">
      <button type="button" mat-flat-button color="link">Cancel</button>
      <button type="submit" [disabled]="!newCodeCategoryForm.valid" mat-flat-button>OK</button>
    </mat-card-actions>
  </mat-card>
</form>
