<div class="row mb-3">
  <div class="col">
    <mat-card>
      <mat-card-title>Determinate Progress Bar</mat-card-title>
      <mat-card-subtitle>
        <code>&lt;mat-progress-bar mode="determinate"&gt;</code> is a horizontal progress-bar for indicating progress and activity.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <mat-card>
      <mat-card-title>Indeterminate Progress Bar</mat-card-title>
      <mat-card-subtitle>
        <code>&lt;mat-progress-bar mode="indeterminate"&gt;</code> is a horizontal progress-bar for indicating progress and activity.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <mat-card>
      <mat-card-title>Buffer Progress Bar</mat-card-title>
      <mat-card-subtitle>
        <code>&lt;mat-progress-bar mode="buffer"&gt;</code> is a horizontal progress-bar for indicating progress and activity.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <mat-card>
      <mat-card-title>Query Progress Bar</mat-card-title>
      <mat-card-subtitle>
        <code>&lt;mat-progress-bar mode="query"&gt;</code> is a horizontal progress-bar for indicating progress and activity.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-progress-bar mode="query"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <mat-card>
      <mat-card-title>Colored Progress Bar</mat-card-title>
      <mat-card-subtitle>
        <code>&lt;mat-progress-bar mode="determinate"&gt;</code> is a horizontal progress-bar for indicating progress and activity.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-progress-bar mode="determinate" value="40" color="primary"></mat-progress-bar>
        <br/>
        <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>
        <br/>
        <mat-progress-bar mode="determinate" value="20" color="warn"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
