<div class="row mb-3">
  <div class="col-md-6">
    <mat-card>
      <mat-card-title>Switch default</mat-card-title>
      <mat-card-content>
        <label class="switch switch-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-secondary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-success">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-warning">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-info">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-danger">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-title>Switch outline</mat-card-title>
      <mat-card-content>
        <label class="switch switch-outline-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-outline-secondary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-outline-success">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-outline-warning">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-outline-info">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-outline-danger">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-6">
    <mat-card>
      <mat-card-title>Switch outline alternative</mat-card-title>
      <mat-card-content>
        <label class="switch switch-outline-primary-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-outline-secondary-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-outline-success-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-outline-warning-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-outline-info-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-outline-danger-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-title>Switch with text</mat-card-title>
      <mat-card-content>
        <label class="switch switch-label switch-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-secondary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-success">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-warning">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-info">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-danger">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-6">
    <mat-card>
      <mat-card-title>Switch with text outline</mat-card-title>
      <mat-card-content>
        <label class="switch switch-label switch-outline-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-secondary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-success">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-warning">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-info">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-danger">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-title>Switch with text outline alternative</mat-card-title>
      <mat-card-content>
        <label class="switch switch-label switch-outline-primary-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-secondary-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-success-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-warning-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-info-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-danger-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
        </label>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-6">
    <mat-card>
      <mat-card-title>Switch with icon</mat-card-title>
      <mat-card-content>
        <label class="switch switch-label switch-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-secondary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-success">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-warning">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-info">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-danger">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-title>Switch with icon outline</mat-card-title>
      <mat-card-content>
        <label class="switch switch-label switch-outline-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-secondary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-success">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-warning">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-info">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-danger">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-6">
    <mat-card>
      <mat-card-title>3D Switch</mat-card-title>
      <mat-card-content>
        <label class="switch switch-3d switch-primary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-3d switch-secondary">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-3d switch-success">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-3d switch-warning">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-3d switch-info">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-3d switch-danger">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider"></span>
        </label>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-title>Switch with icon outline alternative</mat-card-title>
      <mat-card-content>
        <label class="switch switch-label switch-outline-primary-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-secondary-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-success-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-warning-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-info-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
        &nbsp;&nbsp;
        <label class="switch switch-label switch-outline-danger-alt">
          <input type="checkbox" class="switch-input" checked>
          <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
        </label>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-title>Sizes</mat-card-title>
      <mat-card-content>
        <table class="table table-hover table-striped table-align-middle mb-0">
          <thead>
            <th>Size</th>
            <th>Example</th>
            <th>CSS Class</th>
          </thead>
          <tbody>
            <tr>
              <td>
                Large
              </td>
              <td>
                <label class="switch switch-lg switch-3d switch-primary">
                  <input type="checkbox" class="switch-input" checked>
                  <span class="switch-slider"></span>
                </label>
              </td>
              <td>
                Add following class <code>.switch-lg</code>
              </td>
            </tr>
            <tr>
              <td>
                Normal
              </td>
              <td>
                <label class="switch switch-3d switch-primary">
                  <input type="checkbox" class="switch-input" checked>
                  <span class="switch-slider"></span>
                </label>
              </td>
              <td>
                -
              </td>
            </tr>
            <tr>
              <td>
                Small
              </td>
              <td>
                <label class="switch switch-sm switch-3d switch-primary">
                  <input type="checkbox" class="switch-input" checked>
                  <span class="switch-slider"></span>
                </label>
              </td>
              <td>
                Add following class <code>.switch-sm</code>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
