<div class="row">
  <div class="col-sm">
    <mat-card>
      <mat-card-title>Tooltip Positioning</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-sm pb-3 text-center">
            <button mat-button
                    matTooltip="Tooltip above the button"
                    matTooltipPosition="above">
              Above
            </button>
          </div>
          <div class="col-sm pb-3 text-center">
            <button mat-button
                    matTooltip="Tooltip right of the button"
                    matTooltipPosition="right">
              Right
            </button>
          </div>
          <div class="col-sm pb-3 text-center">
            <button mat-button
                    matTooltip="Tooltip left of the button"
                    matTooltipPosition="left">
              Left
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm pb-3 text-center">
            <button mat-button
                    matTooltip="Tooltip below the button"
                    matTooltipPosition="below">
              Below
            </button>
          </div>
          <div class="col-sm pb-3 text-center">
            <button mat-button
                    matTooltip="Tooltip after the button"
                    matTooltipPosition="after">
              After
            </button>
          </div>
          <div class="col-sm pb-3 text-center">
            <button mat-button
                    matTooltip="Tooltip before the button"
                    matTooltipPosition="before">
              Before
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
