<form [formGroup]="editMailTemplateForm" autocomplete="off" class="d-flex flex-column flex-fill" validatedForm>
  <mat-card class="flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-fill">
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@mail_edit_mail_template_component_label_id">ID</mat-label>
            <input type="text" matInput formControlName="id">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@mail_edit_mail_template_component_label_name">Name</mat-label>
            <input type="text" matInput formControlName="name">
            @if (nameControl.errors && !nameControl.untouched) {
              <mat-error>
                @if (nameControl.errors['required']) {
                  <span i18n="@@mail_edit_mail_template_component_error_name_required">A name is required.</span>
                }
                @if (nameControl.errors['maxlength']) {
                  <span i18n="@@mail_edit_mail_template_component_error_name_maxlength">Name must not exceed 100 characters.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@mail_edit_mail_template_component_label_content_type">Content Type</mat-label>
            <mat-select formControlName="contentType">
              @for (contentType of contentTypes; track contentType) {
                <mat-option [value]="contentType">
                  {{ getMailTemplateContentTypeDescription(contentType) }}
                </mat-option>
              }
            </mat-select>
            @if (contentTypeControl.errors && !contentTypeControl.untouched) {
              <mat-error>
                @if (contentTypeControl.errors['required']) {
                  <span i18n="@@mail_edit_mail_template_component_error_content_type_required">A content type is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@mail_edit_mail_template_component_label_template">Template</mat-label>
            <inception-core-file-upload formControlName="template" i18n-placeholder="@@mail_edit_mail_template_component_placeholder_no_file_selected" placeholder="No file selected"></inception-core-file-upload>
            @if (templateControl.errors && !templateControl.untouched) {
              <mat-error>
                @if (templateControl.errors['required']) {
                  <span i18n="@@mail_edit_mail_template_component_error_template_required">A template is required.</span>
                }
                @if (templateControl.errors['minsize']) {
                  <span i18n="@@mail_edit_mail_template_component_error_template_min_size">The template is empty.</span>
                }
                @if (templateControl.errors['maxsize']) {
                  <span i18n="@@mail_edit_mail_template_component_error_template_max_size">The template exceeds the maximum allowed size.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-flat-button color="link" (click)="cancel()" i18n="@@mail_edit_mail_template_component_button_cancel">Cancel</button>
      <button type="button" mat-flat-button color="primary" [disabled]="!editMailTemplateForm.valid" (click)="ok()" i18n="@@mail_edit_mail_template_component_button_ok">OK</button>
    </mat-card-actions>
  </mat-card>
</form>
