<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <form [formGroup]="resetPasswordForm" autocomplete="off" validatedForm>
        <mat-card>
          <div class="d-flex justify-content-center pt-5 pb-3">
            <div class="logo-login"></div>
          </div>

          <div class="d-flex justify-content-center pt-1" i18n="@@login_reset_password_component_your_password_has_expired">
            Reset your password.
          </div>

          <mat-card-content>
            <div class="row">
              <div class="col-sm">
                <mat-form-field class="static">
                  <mat-label i18n="@@login_reset_password_component_label_name">Username</mat-label>
                  <input type="text" matInput formControlName="username">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label i18n="@@login_reset_password_component_label_new_password">New Password</mat-label>
                  <input type="password" matInput formControlName="newPassword">
                  <mat-error *ngIf="newPasswordFormControl.errors && !newPasswordFormControl.untouched">
                    <span *ngIf="newPasswordFormControl.errors?.required" i18n="@@login_reset_password_component_error_new_password_required">A password is required.</span>
                    <span *ngIf="newPasswordFormControl.errors?.maxlength" i18n="@@login_reset_password_component_error_new_password_maxlength">Password must not exceed 100 characters.</span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                  <mat-label i18n="@@login_reset_password_component_label_confirm_new_password">Confirm New Password</mat-label>
                  <input type="password" matInput formControlName="confirmNewPassword">
                  <mat-error *ngIf="confirmNewPasswordFormControl.errors && !confirmNewPasswordFormControl.untouched">
                    <span *ngIf="confirmNewPasswordFormControl.errors?.required" i18n="@@login_reset_password_component_error_confirm_new_password_required">A password is required.</span>
                    <span *ngIf="confirmNewPasswordFormControl.errors?.maxlength" i18n="@@login_reset_password_component_error_confirm_new_password_maxlength">Password must not exceed 100 characters.</span>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button type="button" mat-flat-button color="link" (click)="cancel()" i18n="@@login_reset_password_component_button_cancel">Cancel</button>
            <button type="button" [disabled]="!resetPasswordForm.valid" (click)="resetPassword()" mat-flat-button color="primary" i18n="@@login_reset_password_component_button_change_password">Reset Password</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
