<div matAutocompleteOrigin #origin="matAutocompleteOrigin">
  <mat-chip-list
    #countriesChipList
    (focusin)="onFocusIn($event)"
    (focusout)="onFocusOut($event)">
    <mat-chip
      *ngFor="let country of countries; let index = index;"
      [selectable]="false"
      [removable]="true"
      (removed)="removeCountry(country, index)">
      {{ country.shortName }}
      <i matChipRemove class="far fa-times-circle"></i>
    </mat-chip>
    <input
      #addCountryInput
      type="text"
      matInput
      [matAutocomplete]="addCountryAutocomplete"
      [matAutocompleteConnectedTo]="origin"
      [matChipInputFor]="countriesChipList"
      (input)="addCountryInputChanged($event)"
      (focusin)="onFocusIn($event)"
      (focusout)="onFocusOut($event)">
  </mat-chip-list>
  <mat-autocomplete
    #addCountryAutocomplete="matAutocomplete"
    (optionSelected)="selectCountry($event)">
    <mat-option *ngFor="let filteredCountry of filteredCountries$ | async" [value]="filteredCountry">
      {{filteredCountry.shortName}}
    </mat-option>
  </mat-autocomplete>
</div>

