<mat-tab-group>





  <mat-tab label="General">

    <countries-chip-list [value]="person?.countriesOfCitizenship ?? []"></countries-chip-list>





  </mat-tab>



  <mat-tab label="Attributes">
    The attributes for the person.
  </mat-tab>
  <mat-tab label="Consents" >
    The consents provided by the person.
  </mat-tab>
  <mat-tab label="Contact Mechanisms">
    The contact mechanisms for the person.
  </mat-tab>
  <mat-tab label="Educations">
    The educations for the person.
  </mat-tab>
  <mat-tab label="Employments">
    The employments for the person.
  </mat-tab>
  <mat-tab label="External References">
    The external references for the person.
  </mat-tab>
  <mat-tab label="Identity Documents">
    The identity documents for the person.
  </mat-tab>
  <mat-tab label="Languages">
    The language proficiencies for the person.
  </mat-tab>
  <mat-tab label="Locks">
    The locks applied to the person.
  </mat-tab>
  <mat-tab label="Locks">
    The locks applied to the person.
  </mat-tab>
  <mat-tab label="Next of Kin">
    The next of kin for the person.
  </mat-tab>
  <mat-tab label="Physical Addresses">
    The physical addresses for the person.
  </mat-tab>
  <mat-tab label="Preferences">
    The preferences for the person.
  </mat-tab>
  <mat-tab label="Residence Permits">
    The residence permits for the person.
  </mat-tab>
  <mat-tab label="Roles">
    The roles assigned directly to the person.
  </mat-tab>
  <mat-tab label="Segmentation">
    The segment allocations for the person.
  </mat-tab>
  <mat-tab label="Sources of Funds">
    The sources of funds for the person.
  </mat-tab>
  <mat-tab label="Sources of Wealth">
    The sources of wealth for the person.
  </mat-tab>
  <mat-tab label="Statuses">
    The statuses assigned to the person.
  </mat-tab>
  <mat-tab label="Tax Numbers">
    The tax numbers for the person.
  </mat-tab>




</mat-tab-group>

