<mat-tab-group>


  <mat-tab label="General">
    Content 2
  </mat-tab>



  <mat-tab label="Attributes">
    Content 2
  </mat-tab>
  <mat-tab label="Consents" >
    Content 2
  </mat-tab>
  <mat-tab label="Contact Mechanisms">
    Content 2
  </mat-tab>
  <mat-tab label="Educations">
    Content 2
  </mat-tab>
  <mat-tab label="Employments">
    Content 2
  </mat-tab>
  <mat-tab label="External References">
    Content 2
  </mat-tab>
  <mat-tab label="Identity Documents">
    Content 2
  </mat-tab>
  <mat-tab label="Languages">
    Content 2
  </mat-tab>
  <mat-tab label="Locks">
    Content 2
  </mat-tab>

</mat-tab-group>

