<mat-tab-group>





  <mat-tab label="General">

    <div class="row">
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Given Name</mat-label>
          <input type="text" matInput [formControl]="givenNameControl" required>
          <mat-error *ngIf="givenNameControl.errors && !givenNameControl.untouched">
            <span *ngIf="givenNameControl.errors?.required">A given name is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Preferred name</mat-label>
          <input type="text" matInput [formControl]="surnameControl" required>
          <mat-error *ngIf="surnameControl.errors && !surnameControl.untouched">
            <span *ngIf="surnameControl.errors?.required">A surname is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Countries of Citizenship</mat-label>
          <countries-chip-list
            [formControl]="countriesOfCitizenshipControl"
            placeholder="Add Country ..." required>
          </countries-chip-list>
          <mat-error *ngIf="countriesOfCitizenshipControl.errors && !countriesOfCitizenshipControl.untouched">
            <span *ngIf="countriesOfCitizenshipControl.errors?.required">A country of citizenship is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Language</mat-label>
          <language-input [formControl]="languageControl" required></language-input>
          <mat-error *ngIf="languageControl.errors && !languageControl.untouched">
            <span *ngIf="languageControl.errors?.required">A language is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>



    <input type="button" value="Click Me!" (click)="clickMe()">



  </mat-tab>



  <mat-tab label="Attributes">
    The attributes for the person.
  </mat-tab>
  <mat-tab label="Consents" >
    The consents provided by the person.
  </mat-tab>
  <mat-tab label="Contact Mechanisms">
    The contact mechanisms for the person.
  </mat-tab>
  <mat-tab label="Educations">
    The educations for the person.
  </mat-tab>
  <mat-tab label="Employments">
    The employments for the person.
  </mat-tab>
  <mat-tab label="External References">
    The external references for the person.
  </mat-tab>
  <mat-tab label="Identity Documents">
    The identity documents for the person.
  </mat-tab>
  <mat-tab label="Languages">
    The language proficiencies for the person.
  </mat-tab>
  <mat-tab label="Locks">
    The locks applied to the person.
  </mat-tab>
  <mat-tab label="Locks">
    The locks applied to the person.
  </mat-tab>
  <mat-tab label="Next of Kin">
    The next of kin for the person.
  </mat-tab>
  <mat-tab label="Physical Addresses">
    The physical addresses for the person.
  </mat-tab>
  <mat-tab label="Preferences">
    The preferences for the person.
  </mat-tab>
  <mat-tab label="Residence Permits">
    The residence permits for the person.
  </mat-tab>
  <mat-tab label="Roles">
    The roles assigned directly to the person.
  </mat-tab>
  <mat-tab label="Segmentation">
    The segment allocations for the person.
  </mat-tab>
  <mat-tab label="Sources of Funds">
    The sources of funds for the person.
  </mat-tab>
  <mat-tab label="Sources of Wealth">
    The sources of wealth for the person.
  </mat-tab>
  <mat-tab label="Statuses">
    The statuses assigned to the person.
  </mat-tab>
  <mat-tab label="Tax Numbers">
    The tax numbers for the person.
  </mat-tab>




</mat-tab-group>

