<mat-card class="mb-3">
  <mat-card-title>Basic Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-button color="primary"&gt;Primary&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col">
        <button mat-button>Basic</button>
      </div>
      <div class="col">
        <button mat-button color="primary">Primary</button>
      </div>
      <div class="col">
        <button mat-button color="accent">Accent</button>
      </div>
      <div class="col">
        <button mat-button color="warn">Warn</button>
      </div>
      <div class="col mt-3 mt-sm-0">
        <button mat-button disabled>Disabled</button>
      </div>
      <div class="col mt-3 mt-sm-0"><a mat-button routerLink=".">Link</a></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mb-3">
  <mat-card-title>Flat Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-flat-button color="primary"&gt;Primary&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col">
        <button mat-flat-button>Basic</button>
      </div>
      <div class="col">
        <button mat-flat-button color="primary">Primary</button>
      </div>
      <div class="col">
        <button mat-flat-button color="accent">Accent</button>
      </div>
      <div class="col">
        <button mat-flat-button color="warn">Warn</button>
      </div>
      <div class="col mt-3 mt-sm-0">
        <button mat-flat-button disabled>Disabled</button>
      </div>
      <div class="col mt-3 mt-sm-0"><a mat-flat-button color="link" routerLink=".">Link</a></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mb-3">
  <mat-card-title>Raised Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-raised-button color="primary"&gt;Primary&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col">
        <button mat-raised-button>Basic</button>
      </div>
      <div class="col">
        <button mat-raised-button color="primary">Primary</button>
      </div>
      <div class="col">
        <button mat-raised-button color="accent">Accent</button>
      </div>
      <div class="col">
        <button mat-raised-button color="warn">Warn</button>
      </div>
      <div class="col">
        <button mat-raised-button disabled>Disabled</button>
      </div>
      <div class="col"><a mat-raised-button routerLink=".">Link</a></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mb-3">
  <mat-card-title>Icon Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-icon-button color="primary"&gt;
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;i class="fa fa-heart"&gt;&lt;/i&gt;<br/>&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col">
        <button mat-icon-button>
          <i class="fa fa-heart"></i>
        </button>
      </div>
      <div class="col">
        <button mat-icon-button color="primary">
          <i class="fa fa-heart"></i>
        </button>
      </div>
      <div class="col">
        <button mat-icon-button color="accent">
          <i class="fa fa-heart"></i>
        </button>
      </div>
      <div class="col">
        <button mat-icon-button color="warn">
          <i class="fa fa-heart"></i>
        </button>
      </div>
      <div class="col">
        <button mat-icon-button disabled>
          <i class="fa fa-heart"></i>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mb-3">
  <mat-card-title>Fab Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-fab color="primary"&gt;Primary&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col">
        <button mat-fab>Basic</button>
      </div>
      <div class="col">
        <button mat-fab color="primary">Primary</button>
      </div>
      <div class="col">
        <button mat-fab color="accent">Accent</button>
      </div>
      <div class="col">
        <button mat-fab color="warn">Warn</button>
      </div>
      <div class="col">
        <button mat-fab disabled>Disabled</button>
      </div>
      <div class="col">
        <button mat-fab>
          <i class="fa fa-heart"></i>
        </button>
      </div>
      <div class="col"><a mat-fab routerLink=".">Link</a></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mb-3">
  <mat-card-title>Mini Fab Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-mini-fab color="primary"&gt;Primary&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col">
        <button mat-mini-fab>Base</button>
      </div>
      <div class="col">
        <button mat-mini-fab color="primary">Pri</button>
      </div>
      <div class="col">
        <button mat-mini-fab color="accent">Acc</button>
      </div>
      <div class="col">
        <button mat-mini-fab color="warn">Warn</button>
      </div>
      <div class="col">
        <button mat-mini-fab disabled>Dis</button>
      </div>
      <div class="col">
        <button mat-mini-fab>
          <i class="fa fa-heart"></i>
        </button>
      </div>
      <div class="col"><a mat-mini-fab routerLink=".">Link</a></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Button toggle</mat-card-title>
  <mat-card-content>
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="left">
        <i class="fa fa-align-left"></i>
      </mat-button-toggle>
      <mat-button-toggle value="center">
        <i class="fa fa-align-center"></i>
      </mat-button-toggle>
      <mat-button-toggle value="right">
        <i class="fa fa-align-right"></i>
      </mat-button-toggle>
      <mat-button-toggle value="justify" disabled>
        <i class="fa fa-align-justify"></i>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="mt-3">Selected value: {{group.value}}</div>
  </mat-card-content>
</mat-card>

