<div class="row mb-3">
  <div class="col">
    <mat-card>
      <mat-card-title>Determinate Progress Bar</mat-card-title>
      <mat-card-subtitle>
        <code>&lt;mat-progress-bar mode="determinate"&gt;</code> is a horizontal progress-bar for indicating progress and activity.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <mat-card>
      <mat-card-title>Indeterminate Progress Bar</mat-card-title>
      <mat-card-subtitle>
        <code>&lt;mat-progress-bar mode="indeterminate"&gt;</code> is a horizontal progress-bar for indicating progress and activity.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <mat-card>
      <mat-card-title>Buffer Progress Bar</mat-card-title>
      <mat-card-subtitle>
        <code>&lt;mat-progress-bar mode="buffer"&gt;</code> is a horizontal progress-bar for indicating progress and activity.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <mat-card>
      <mat-card-title>Query Progress Bar</mat-card-title>
      <mat-card-subtitle>
        <code>&lt;mat-progress-bar mode="query"&gt;</code> is a horizontal progress-bar for indicating progress and activity.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-progress-bar mode="query"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <mat-card>
      <mat-card-title>Colored Progress Bar</mat-card-title>
      <mat-card-subtitle>
        <code>&lt;mat-progress-bar mode="determinate"&gt;</code> is a horizontal progress-bar for indicating progress and activity.
      </mat-card-subtitle>
      <mat-card-content>
        <mat-progress-bar mode="determinate" value="40" color="primary"></mat-progress-bar>
        <br/>
        <mat-progress-bar mode="determinate" value="80" color="accent"></mat-progress-bar>
        <br/>
        <mat-progress-bar mode="determinate" value="20" color="warn"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-title>Configurable Progress Bar</mat-card-title>
      <mat-card-subtitle>
        <code>&lt;mat-progress-bar mode="query"&gt;</code> is a horizontal progress-bar for indicating progress and activity.
      </mat-card-subtitle>
      <mat-card-content>
        <div class="row pt-3 pb-3">
          <div class="col" style="max-width: 80px;">
            <label>Color:</label>
          </div>
          <div class="col">
            <mat-radio-group [(ngModel)]="color">
              <mat-radio-button value="primary">
                Primary
              </mat-radio-button>
              <mat-radio-button value="accent">
                Accent
              </mat-radio-button>
              <mat-radio-button value="warn">
                Warn
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row pt-3 pb-3">
          <div class="col center" style="max-width: 80px;">
            <label>Mode:</label>
          </div>
          <div class="col">
            <mat-radio-group [(ngModel)]="mode">
              <mat-radio-button value="determinate">
                Determinate
              </mat-radio-button>
              <mat-radio-button value="indeterminate">
                Indeterminate
              </mat-radio-button>
              <mat-radio-button value="buffer">
                Buffer
              </mat-radio-button>
              <mat-radio-button value="query">
                Query
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row" *ngIf="mode == 'determinate' || mode == 'buffer'">
          <div class="col" style="line-height: 48px; max-width: 80px;">
            <label>Progress:</label>
          </div>
          <div class="col">
            <mat-slider [(ngModel)]="value"></mat-slider>
          </div>
        </div>
        <div class="row" *ngIf="mode == 'buffer'">
          <div class="col" style="line-height: 48px; max-width: 80px;">
            <label>Buffer:</label>
          </div>
          <div class="col">
            <mat-slider [(ngModel)]="bufferValue"></mat-slider>
          </div>
        </div>

        <h6 class="pt-2">Result</h6>
        <mat-progress-bar
          class="mb-2"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
        </mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
