<mat-card class="mb-3">
  <mat-card-title>Theme Colors</mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-primary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Brand Primary Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-secondary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Brand Secondary Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-success theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Brand Success Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-danger theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Brand Danger Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-warning theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Brand Warning Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-info theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Brand Info Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-light theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Brand Light Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-dark theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Brand Dark Color</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Grays</mat-card-title>
  <mat-card-content>
    <div class="row mb-3">
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-gray-100 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Gray 100 Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-gray-200 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Gray 200 Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-gray-300 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Gray 300 Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-gray-400 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Gray 400 Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-gray-500 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Gray 500 Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-gray-600 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Gray 600 Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-gray-700 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Gray 700 Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-gray-800 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Gray 800 Color</span>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
        <div class="bg-gray-900 theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
        <span style="font-size: 14px;">Gray 900 Color</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

