<form [formGroup]="editOrganizationForm" autocomplete="off" class="d-flex flex-column flex-fill" validatedForm>
  <mat-card class="flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-fill">
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@security_edit_organization_component_label_name">Name</mat-label>
            <input type="text" matInput formControlName="name" required="true" autofocus>
            <mat-error *ngIf="editOrganizationForm.get('name').errors && !editOrganizationForm.get('name').untouched">
              <span *ngIf="editOrganizationForm.get('name').errors?.required" i18n="@@security_edit_organization_component_error_name_required">A name is required.</span>
              <span *ngIf="editOrganizationForm.get('name').errors?.maxlength" i18n="@@security_edit_organization_component_error_name_maxlength">Name must not exceed 100 characters.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="align-right">
      <button type="button" mat-flat-button color="link" (click)="onCancel()" i18n="@@security_edit_organization_component_button_cancel">Cancel</button>
      <button type="button" mat-flat-button color="primary" [disabled]="!editOrganizationForm.valid" (click)="onOK()" i18n="@@security_edit_organization_component_button_ok">OK</button>
    </mat-card-actions>
  </mat-card>
</form>
