<ng-container [formGroup]="internalUserDirectoryForm">
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label i18n="@@internal_user_directory_component_label_max_password_attempts">Max Password Attempts</mat-label>
        <input type="text" matInput formControlName="maxPasswordAttempts" required="true">
        <mat-error *ngIf="internalUserDirectoryForm.get('maxPasswordAttempts').errors && !internalUserDirectoryForm.get('maxPasswordAttempts').untouched">
          <span *ngIf="internalUserDirectoryForm.get('maxPasswordAttempts').errors?.required" i18n="@@internal_user_directory_component_error_max_password_attempts_required">The maximum number of password attempts is required.</span>
          <span *ngIf="internalUserDirectoryForm.get('maxPasswordAttempts').errors?.pattern" i18n="@@internal_user_directory_component_error_max_password_attempts_pattern">A valid number is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label i18n="@@internal_user_directory_component_label_password_expiry_months">Password Expiry Months</mat-label>
        <input type="text" matInput formControlName="passwordExpiryMonths" required="true">
        <mat-error *ngIf="internalUserDirectoryForm.get('passwordExpiryMonths').errors && !internalUserDirectoryForm.get('passwordExpiryMonths').untouched">
          <span *ngIf="internalUserDirectoryForm.get('passwordExpiryMonths').errors?.required" i18n="@@internal_user_directory_component_error_password_expiry_months_required">The number of months before a password expires is required.</span>
          <span *ngIf="internalUserDirectoryForm.get('passwordExpiryMonths').errors?.pattern" i18n="@@internal_user_directory_component_error_password_expiry_months_pattern">A valid number is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label i18n="@@internal_user_directory_component_label_password_history_months">Password History Months</mat-label>
        <input type="text" matInput formControlName="passwordHistoryMonths" required="true">
        <mat-error *ngIf="internalUserDirectoryForm.get('passwordHistoryMonths').errors && !internalUserDirectoryForm.get('passwordHistoryMonths').untouched">
          <span *ngIf="internalUserDirectoryForm.get('passwordHistoryMonths').errors?.required" i18n="@@internal_user_directory_component_error_password_history_months_required">The number of months before a password can be reused is required.</span>
          <span *ngIf="internalUserDirectoryForm.get('passwordHistoryMonths').errors?.pattern" i18n="@@internal_user_directory_component_error_password_history_months_pattern">A valid number is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label i18n="@@internal_user_directory_component_label_max_filtered_users">Max Filtered Users</mat-label>
        <input type="text" matInput formControlName="maxFilteredUsers" required="true">
        <mat-error *ngIf="internalUserDirectoryForm.get('maxFilteredUsers').errors && !internalUserDirectoryForm.get('maxFilteredUsers').untouched">
          <span *ngIf="internalUserDirectoryForm.get('maxFilteredUsers').errors?.required" i18n="@@internal_user_directory_component_error_max_filtered_users_required">The maximum number of filtered users is required.</span>
          <span *ngIf="internalUserDirectoryForm.get('maxFilteredUsers').errors?.pattern" i18n="@@internal_user_directory_component_error_max_filtered_users_pattern">A valid number is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field>
        <mat-label i18n="@@internal_user_directory_component_label_max_filtered_groups">Max Filtered Groups</mat-label>
        <input type="text" matInput formControlName="maxFilteredGroups" required="true">
        <mat-error *ngIf="internalUserDirectoryForm.get('maxFilteredGroups').errors && !internalUserDirectoryForm.get('maxFilteredGroups').untouched">
          <span *ngIf="internalUserDirectoryForm.get('maxFilteredGroups').errors?.required" i18n="@@internal_user_directory_component_error_max_filtered_groups_required">The maximum number of filtered groups is required.</span>
          <span *ngIf="internalUserDirectoryForm.get('maxFilteredGroups').errors?.pattern" i18n="@@internal_user_directory_component_error_max_filtered_groups_pattern">A valid number is required.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</ng-container>
