<form [formGroup]="resetUserPasswordForm" autocomplete="off" class="d-flex flex-column flex-fill" validatedForm>
  <mat-card class="flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-fill">
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_reset_user_password_component_label_username">Username</mat-label>
            <input type="text" matInput formControlName="username">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_reset_user_password_component_label_first_name">First Name</mat-label>
            <input type="text" matInput formControlName="firstName">
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label i18n="@@security_reset_user_password_component_label_last_name">Last Name</mat-label>
            <input type="text" matInput formControlName="lastName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@security_reset_user_password_component_label_password">Password</mat-label>
            <input type="password" matInput formControlName="password" required="true">
            <mat-error *ngIf="resetUserPasswordForm.get('password').errors && !resetUserPasswordForm.get('password').untouched">
              <span *ngIf="resetUserPasswordForm.get('password').errors?.required" i18n="@@security_reset_user_password_component_error_password_required">A password is required.</span>
              <span *ngIf="resetUserPasswordForm.get('password').errors?.maxlength" i18n="@@security_reset_user_password_component_error_password_maxlength">Password must not exceed 100 characters.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@security_reset_user_password_component_label_confirm_password">Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" required="true">
            <mat-error *ngIf="resetUserPasswordForm.get('confirmPassword').errors && !resetUserPasswordForm.get('confirmPassword').untouched">
              <span *ngIf="resetUserPasswordForm.get('confirmPassword').errors?.required" i18n="@@security_reset_user_password_component_error_confirm_password_required">A password is required.</span>
              <span *ngIf="resetUserPasswordForm.get('confirmPassword').errors?.maxlength" i18n="@@security_reset_user_password_component_error_confirm_password_maxlength">Password must not exceed 100 characters.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="resetUserPasswordForm.contains('expirePassword') || resetUserPasswordForm.contains('lockUser') || resetUserPasswordForm.contains('resetPasswordHistory') " class="row">
        <div class="col-sm">
          <checkbox-form-field>
            <mat-label i18n="@@security_reset_user_password_component_label_options">Options</mat-label>
            <mat-checkbox *ngIf="resetUserPasswordForm.contains('expirePassword')" formControlName="expirePassword" i18n="@@security_reset_user_password_component_label_expire_password">Expire Password?</mat-checkbox>
            <mat-checkbox *ngIf="resetUserPasswordForm.contains('lockUser')" formControlName="lockUser" i18n="@@security_reset_user_password_component_label_lock_user">Lock User?</mat-checkbox>
            <mat-checkbox *ngIf="resetUserPasswordForm.contains('resetPasswordHistory')" formControlName="resetPasswordHistory" i18n="@@security_reset_user_password_component_label_reset_password_history">Reset Password History?</mat-checkbox>
          </checkbox-form-field>
        </div>
      </div>    </mat-card-content>
    <mat-card-actions class="align-right">
      <button type="button" mat-flat-button color="link" (click)="onCancel()" i18n="@@security_reset_user_password_component_button_cancel">Cancel</button>
      <button type="button" mat-flat-button color="primary" [disabled]="!resetUserPasswordForm.valid" (click)="onOK()" i18n="@@security_reset_user_password_component_button_ok">OK</button>
    </mat-card-actions>
  </mat-card>
</form>
