<mat-card class="flex flex-column flex-auto">
  <div class="select-user-directory-container" [hidden]="userDirectories.length < 2">
    <span class="mat-header-label" i18n="@@users_component_user_directory">User Directory :</span>
    <mat-form-field class="mat-form-field-slim">
      <mat-select #userDirectorySelect required="true" i18n-placeholder="@@users_component_placeholder_select_a_user_directory" placeholder="Select a user directory">
        <mat-option *ngFor="let userDirectory of userDirectories" [value]="userDirectory.id">
          {{userDirectory.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="mat-table-header">
    <button mat-flat-button color="primary" (click)="newUser()" i18n="@@users_component_button_new">New</button>
    <table-filter></table-filter>
  </div>
  <mat-table [dataSource]="dataSource" class="flex-fill" style="min-height: 550px;" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@users_component_table_header_username">Username</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.username}}</mat-cell>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell class="d-none d-md-table-cell" *matHeaderCellDef i18n="@@users_component_table_header_first_name">First Name</mat-header-cell>
      <mat-cell class="d-none d-md-table-cell" *matCellDef="let row">{{row.firstName}}</mat-cell>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell class="d-none d-md-table-cell" *matHeaderCellDef mat-sort-header i18n="@@users_component_table_header_last_name">Last Name</mat-header-cell>
      <mat-cell class="d-none d-md-table-cell" *matCellDef="let row">{{row.lastName}}</mat-cell>
    </ng-container>


    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell class="mat-cell-one-action" *matHeaderCellDef i18n="@@users_component_table_header_actions">Actions</mat-header-cell>
      <mat-cell class="mat-cell-one-action" *matCellDef="let row" [matMenuTriggerFor]="actionsMenu" [matMenuTriggerData]="{username: row.username}">
        <button mat-icon-button>
          <i class="fas fa-ellipsis-v"></i>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="dataSource.total | async" [pageSize]="10" [hidePageSize]="true" [showFirstLastButtons]="true" ></mat-paginator>

  <mat-menu class="mat-action-menu" #actionsMenu="matMenu" >
    <ng-template matMenuContent let-username="username">
      <button mat-menu-item (click)="editUser(username)">
        <i class="fas fa-edit"></i>
        <span i18n="@@users_component_menu_item_edit">Edit</span>
      </button>
      <button mat-menu-item (click)="deleteUser(username)">
        <i class="far fa-trash-alt"></i>
        <span i18n="@@users_component_menu_item_delete">Delete</span>
      </button>
    </ng-template>
  </mat-menu>

</mat-card>


