<mat-card style="height: 100%;">
  <mat-card-title>Complex Table</mat-card-title>
  <mat-card-content>

    <div class="bg-light pt-0 pb-2 pl-2 pr-2">
      <mat-form-field class="mat-form-field-slim">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search (Filter)" autocomplete="off">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <div class="table-responsive">
      <mat-table [dataSource]="dataSource" matSort>

        <!-- First Name(s) Column -->
        <ng-container matColumnDef="firstNames">
          <mat-header-cell class="no-wrap" *matHeaderCellDef mat-sort-header>First&nbsp;Name(s)</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.firstNames}}</mat-cell>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
        </ng-container>

        <!-- E-Mail Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell class="d-none d-sm-flex" *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
          <mat-cell class="d-none d-sm-flex" *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button>
              <mat-icon aria-label="XXX">favorite</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="10" [hidePageSize]="true" [showFirstLastButtons]="true" ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
