<div class="card">
  <div class="card-header">
    <i class="fa fa-edit"></i>Test Form
  </div>
  <div class="card-body">

    <form [formGroup]="testForm" (ngSubmit)="onSubmit()" inceptionValidatedForm>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label>Read Only Value</label>
            <div class="form-field-value">XXX</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <fieldset class="form-group">
            <label for="firstName">First Name</label>
            <input id="firstName" name="firstName" formControlName="firstName" type="text" class="form-control" placeholder="Enter a first name" inceptionAutofocus>
            <div *ngIf="testForm.controls['firstName'].errors && !testForm.controls['firstName'].untouched" class="form-control-error">
              <div *ngIf="testForm.controls['firstName'].errors?.required">A first name is required.</div>
            </div>
          </fieldset>
        </div>
        <div class="col-sm">
          <fieldset class="form-group">
            <label for="lastName">Last Name</label>
            <input id="lastName" name="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Enter a last name">
            <div *ngIf="testForm.controls['lastName'].errors && !testForm.controls['lastName'].untouched" class="form-control-error">
              <div *ngIf="testForm.controls['lastName'].errors?.required">A last name is required.</div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <fieldset class="form-group">
            <label for="title">Title</label>
            <ng-select
              id="title" name="title" formControlName="title" class="bootstrap" placeholder="Select a title" [options]="titles" [allowClear]="true">
            </ng-select>
            <div *ngIf="testForm.controls['title'].errors && !testForm.controls['title'].untouched" class="form-control-error">
              <div *ngIf="testForm.controls['title'].errors?.required">A title is required.</div>
            </div>
          </fieldset>
        </div>
        <div class="col-sm">
          <fieldset class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <div class="input-group">
              <input id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" type="text" class="form-control" [minDate]="MIN_DATE" [maxDate]="MAX_DATE" #dp="bsDatepicker" bsDatepicker>
              <div class="input-group-append" (click)="dp.toggle()">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
              </div>
            </div>
            <div *ngIf="testForm.controls['dateOfBirth'].errors && !testForm.controls['dateOfBirth'].untouched" class="form-control-error">
              <div *ngIf="testForm.controls['dateOfBirth'].errors?.required">A date of birth is required.</div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <fieldset class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" formControlName="password" type="password" class="form-control" placeholder="Enter a password">
            <div *ngIf="testForm.controls['password'].errors && !testForm.controls['password'].untouched" class="form-control-error">
              <div *ngIf="testForm.controls['password'].errors?.required">A password is required.</div>
            </div>
          </fieldset>
        </div>
        <div class="col-sm">
          <fieldset class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm the password">
            <div *ngIf="testForm.controls['confirmPassword'].errors && !testForm.controls['confirmPassword'].untouched" class="form-control-error">
              <div *ngIf="testForm.controls['confirmPassword'].errors?.required">Password confirmation is required.</div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <fieldset class="form-group">
            <label for="employmentPeriod">Employment Period</label>
            <input id="employmentPeriod" name="employmentPeriod" formControlName="employmentPeriod" class="form-control" #drp="bsDaterangepicker" bsDaterangepicker>
            <div *ngIf="testForm.controls['employmentPeriod'].errors && !testForm.controls['employmentPeriod'].untouched" class="form-control-error">
              <div *ngIf="testForm.controls['employmentPeriod'].errors?.required">An employment period is required.</div>
            </div>
          </fieldset>
        </div>
        <div class="col-sm">
          <fieldset class="form-group">
            <label for="favouritePet">Favourite Pet</label>
            <select id="favouritePet" name="favouritePet" formControlName="favouritePet" class="form-control">
              <option selected="selected" value="">Choose One</option>
              <option value="0">Dog</option>
              <option value="1">Cat</option>
              <option value="2">Hamster</option>
            </select>
            <div *ngIf="testForm.controls['favouritePet'].errors && !testForm.controls['favouritePet'].untouched" class="form-control-error">
              <div *ngIf="testForm.controls['favouritePet'].errors?.required">A password is required.</div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <fieldset class="form-group">
            Inline Radios
            <div class="col-md-9 col-form-label">
              <div class="form-check form-check-inline mr-1">
                <input id="inlineRadio1" name="inlineRadio" formControlName="inlineRadio" type="radio" class="form-check-input" value="option1">
                <label for="inlineRadio1" class="form-check-label">One</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input id="inlineRadio2" name="inlineRadio" formControlName="inlineRadio" type="radio" class="form-check-input" value="option2">
                <label for="inlineRadio2" class="form-check-label">Two</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input id="inlineRadio3" name="inlineRadio" formControlName="inlineRadio" type="radio" class="form-check-input" value="option3">
                <label for="inlineRadio3" class="form-check-label">Three</label>
              </div>
            </div>
            <div *ngIf="testForm.controls['inlineRadio'].errors && !testForm.controls['inlineRadio'].untouched" class="form-control-error">
              <div *ngIf="testForm.controls['inlineRadio'].errors?.required">Please select an option.</div>
            </div>
          </fieldset>
        </div>
        <div class="col-sm">
          Inline Checkboxes
          <div class="col-md-9 col-form-label">
            <div class="form-check form-check-inline mr-1">
              <input id="inlineCheckbox1" name="inlineCheckbox1" formControlName="inlineCheckbox1" type="checkbox" class="form-check-input" value="option1">
              <label for="inlineCheckbox1" class="form-check-label">One</label>
            </div>
            <div class="form-check form-check-inline mr-1">
              <input id="inlineCheckbox2" name="inlineCheckbox2" formControlName="inlineCheckbox2" type="checkbox" class="form-check-input" value="option2">
              <label for="inlineCheckbox2" class="form-check-label">Two</label>
            </div>
            <div class="form-check form-check-inline mr-1">
              <input id="inlineCheckbox3" name="inlineCheckbox3" formControlName="inlineCheckbox3" type="checkbox" class="form-check-input" value="option3">
              <label for="inlineCheckbox3" class="form-check-label">Three</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <fieldset class="form-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" formControlName="notes" rows="4" cols="5" placeholder="Enter the notes" class="form-control"></textarea>
            <div *ngIf="testForm.controls['notes'].errors && !testForm.controls['notes'].untouched" class="form-control-error">
              <div *ngIf="testForm.controls['notes'].errors?.required">Please enter the required notes.</div>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <fieldset class="form-group">
            <label for="favouriteTime">Favourite Time</label>
            <timepicker id="favouriteTime" name="favouriteTime" formControlName="favouriteTime"></timepicker>
            <!--
            [(ngModel)]="favouriteTime" (change)="changed()" [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]="ismeridian" [readonlyInput]="!isEnabled"
            -->
          </fieldset>
        </div>
        <div class="col-sm">
          <label >Radios</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check">
              <input id="radio1" name="radio" formControlName="radio" type="radio" class="form-check-input" value="option1">
              <label for="radio1" class="form-check-label">Option 1</label>
            </div>
            <div class="form-check">
              <input id="radio2" name="radio" formControlName="radio" type="radio" class="form-check-input" value="option2">
              <label for="radio2" class="form-check-label">Option 2</label>
            </div>
            <div class="form-check">
              <input id="radio3" name="radio" formControlName="radio" type="radio" class="form-check-input" value="option3">
              <label for="radio3" class="form-check-label">Option 3</label>
            </div>
          </div>
          <div *ngIf="testForm.controls['radio'].errors && !testForm.controls['radio'].untouched" class="form-control-error">
            <div *ngIf="testForm.controls['radio'].errors?.required">Please select an option.</div>
          </div>
        </div>
        <div class="col-sm">
          <label>Checkboxes</label>
          <div class="col-md-9 col-form-label">
            <div class="form-check">
              <input id="checkbox1" name="checkbox1" formControlName="checkbox1" type="checkbox" class="form-check-input" value="checkbox1">
              <label for="checkbox1" class="form-check-label">Option 1</label>
            </div>
            <div class="form-check">
              <input id="checkbox2" name="checkbox2" formControlName="checkbox2" type="checkbox" class="form-check-input" value="checkbox2">
              <label for="checkbox2" class="form-check-label">Option 2</label>
            </div>
            <div class="form-check checkbox">
              <input id="checkbox3" name="checkbox3" formControlName="checkbox3" type="checkbox" class="form-check-input" value="checkbox3">
              <label for="checkbox3" class="form-check-label">Option 3</label>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group-separator"></div>

      <div class="form-buttons">
        <button type="submit" class="btn btn-primary px-4 float-right ml-2">Submit</button>
        <button type="button" class="btn btn-secondary px-4 float-right">Cancel</button>
      </div>

    </form>

  </div>
</div>
