<form [formGroup]="newConfigForm" autocomplete="off" class="d-flex flex-column flex-fill" validatedForm>
  <mat-card class="flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-fill">
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@config_new_config_component_label_key">Key</mat-label>
            <input type="text" matInput formControlName="key" required="true" autofocus>
            <mat-error *ngIf="keyFormControl.errors && !keyFormControl.untouched">
              <span *ngIf="keyFormControl.errors?.required" i18n="@@config_new_config_component_error_id_required">A key is required.</span>
              <span *ngIf="keyFormControl.errors?.maxlength" i18n="@@config_new_config_component_error_id_maxlength">Key must not exceed 100 characters.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@config_new_config_component_label_value">Value</mat-label>
            <input type="text" matInput formControlName="value">
            <mat-error *ngIf="valueFormControl.errors && !valueFormControl.untouched">
              <span *ngIf="valueFormControl.errors?.maxlength" i18n="@@config_new_config_component_error_value_maxlength">Value must not exceed 4000 characters.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label i18n="@@config_new_config_component_label_description">Description</mat-label>
            <textarea matInput formControlName="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4"></textarea>
            <mat-error *ngIf="descriptionFormControl.errors && !descriptionFormControl.untouched">
              <span *ngIf="descriptionFormControl.errors?.maxlength" i18n="@@config_new_config_component_error_description_maxlength">Value must not exceed 100 characters.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="align-right">
      <button type="button" mat-flat-button color="link" (click)="cancel()" i18n="@@config_new_config_component_button_cancel">Cancel</button>
      <button type="button" mat-flat-button color="primary" [disabled]="!newConfigForm.valid" (click)="ok()" i18n="@@config_new_config_component_button_ok">OK</button>
    </mat-card-actions>
  </mat-card>
</form>
