# To generate the application keystore:
#   keytool -genkeypair -keystore demo.p12 -storetype pkcs12 -storepass demo -alias demo -keyalg RSA -keysize 2048 -keypass demo -validity 7300 -dname "CN=demo" -ext san=dns:demo.local,dns:localhost,ip:127.0.0.1
#
# To generate a RSA PKCS8 key-pair to sign JWTs, execute the following commands:
#   openssl genpkey -algorithm RSA -pkeyopt rsa_keygen_bits:2048 -pkeyopt rsa_keygen_pubexp:65537 | openssl pkcs8 -topk8 -nocrypt -outform pem > jwt-key-non-prod
#   openssl pkey -pubout -inform pem -outform pem -in jwt-key-non-prod -out jwt-key-non-prod.pub

spring:
  application:
    name: inception-demo
  mail:
    default-encoding: UTF-8
    protocol: smtp
    host: localhost
    port: 2500
    username: demo
    password: demo
  threads:
    virtual:
      enabled: true

springdoc:
  api-docs:
    groups:
      enabled: true
    version: openapi_3_0
  writer-with-order-by-keys: true

server:
  port: 8080

  ssl:
    enabled: false
    key-store: classpath:META-INF/demo.p12
    key-store-type: pkcs12
    key-store-password: Password1
    key-password: Password1
    key-alias: demo
    protocol: TLS
    # trust-store: classpath:META-INF/demo.p12
    # trust-store-type: pkcs12
    # trust-store-password: Password1

inception:
  debug:
    enabled: true
    jpa-show-sql: true

  api:
    security:
      cors-allowed-origin-pattern: "*"
      # NOTE: If debug mode is enabled, API security will be disabled if it is not explicitly enabled
      enabled: true
    verbose-error-handling: true

  application:
    data-source:
      class-name: org.h2.jdbcx.JdbcDataSource
      url: jdbc:h2:mem:application;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;NON_KEYWORDS=VALUE
      min-pool-size: 2
      max-pool-size: 6
      liquibase:
        enabled: true
    mongodb:
      uri: mongodb://localhost:27017/demo?minpoolsize=1&maxpoolsize=5&maxIdleTimeMS=1500000
      embedded: mongo-java-server
    r2dbc-connection-factory:
      url: r2dbc:h2:mem:///application;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;NON_KEYWORDS=VALUE
      initial-pool-size: 3
      max-pool-size: 7
      max-idle-time: 30m

    security:
      jwt: eyJraWQiOiJkZW1vIiwiYWxnIjoiUlMyNTYifQ.eyJpc3MiOiJkZW1vIiwic3ViIjoiaW5jZXB0aW9uLWRlbW8iLCJpYXQiOjE3MTQ1MzU5MDQsImp0aSI6IjZiM2JiOTFjZTVhNzQ3OTA4ZTFmMGQ2MTY5YjU1NzczIiwicm9sZXMiOlsiQWRtaW5pc3RyYXRvciJdfQ.WOzDZKJmOaw9DWn5Ohy8mVLIcWn0trZ80aFjv8l0dmeGB4b38yEuueNPXbw78JBMxU0sMMyk-aAPXXsG42IZLiCcPU0CgPf6C4hFcPJR6swEEWFjeFWnKvIbHGOd0kFFAA33VrM_W7359e-xvlUL84OFLGTqWJOcxzzMiAdDnZe6yfrdlqV8j1US-FmQPFjvBVsFqtoO6mOcTvNjjZXB72QHCaaHDVgSqdntBWdTA9IglW9_30dFvVcapiRZnCdIoWi3em-ac3wudxS2iG792o0uxj_xrzyjEJJ69CQWnV2gK867NKGstDhmCknHurOqpz9I0CFV16-WvaJytgjYww
      key-store: classpath:META-INF/demo.p12
      key-store-type: pkcs12
      key-store-password: Password1
      key-password: Password1
      key-alias: demo
      trust-store: classpath:META-INF/demo.p12
      trust-store-type: pkcs12
      trust-store-password: Password1

  authorization-server:
    issuer: http://localhost:8080
    jwt:
      rsa-key-id: demo
      rsa-private-key: base64:LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2d0lCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQktrd2dnU2xBZ0VBQW9JQkFRREVVNmFOejFpWjRjUXYKc1FqZDQ1RzlJcFVQUk9wR053bnY0Zytzb09ma3JvUG5lRys1OThnOVNmb1ptZmlxVllxVVlqakJxVk5SVGlEdgpnMjdTUmZlMzIxeTlyYzlVSkRWMVJRN01oVEtHUDJJQjc1SkVVQWFVZHVnRHBIRDZwT0plVW5yT0lGaHhBSWw3CmFaek9LSkVPK2tKbm5YYWlQWHZMdkpXblZCQk5tTVhhMmZGMS9XT1ZUZ3E0bTBFb1lYL0VhaDZ0dUxkVVFGMUQKT1B1MkNyakNPalBxaS9JVk1IdW9VMXJseS9wUWhlVGdXS0lDaUxYUzdmZWk2SnQxY05TN3VmYTc3Zi9QNlVkQgpXTndVajFOS05RMzhxOGFDQTI4MHZ2TUo0NHFQNE1pRFBKTVVCUzJPODl3ZVBob2pabkVjZEdCNC9CNi9yNjh0ClZLZCsvZ2xiQWdNQkFBRUNnZ0VCQUtjejh1cGRoOER1dFU1RXdSOXd1K05QdTVGWWlRbXB3RTNMd3J1c0FqTVIKcWdjTjNHR090THYxOEFtengwTVNQVWJvYkJ3TFlJa2pPQXVrYlZLcUFqSlVvYVJ0amVERVFiOFJSR3hNbUY0YgpSeFlNK2c0eDlaaWx1QzI1OC9xVFNMTTZIWnJGazIwU0h3UzdTcStOZnhVNWNDcWN3YmVsRTNUTnRNcmdYazRtCmFZbDVZai96QjVvTy9lNXFpYlhXekoyZk1JZjJVb29WUVJWcFdOM0FEbVF5Mkx0YW1oMnJHcjRQdTRYTjYxTmsKNFRMNVp0bUYwd1pLQ28rNXMwM1h4T0Z0cjhIMTZseTdQVVdUV24yU2tsK1FJWjBCckxZWTEzZm4yV2xDZ25lVApCN3dqRXhvZUFjNytBT25nUlI4eVMzVStFLzFsZTEzOFR0OGZMQmlldWdrQ2dZRUErUWNLK1FLbGVwNGFNYUkxCjlBMWNtUFdlN3EraWFTTUp2SGljRUVpUXlDVXpQN08wTk5MaVdXVVJDZURxZGlCdkJSclRkdm9MUVQ1QzlsUVIKOVljekxsaklnTStQaDJSK25YM01GZDFZY0FsV1NwNHJPTkw2RkxDOGpDdldWNUw0RnJFUlVqY05uRTM0ZG16TgpXRmYySUFzem9PUVNzWG5OR1dzejBEb2VjbjhDZ1lFQXlkTGRMNExNaEVmV0k3M0xhV0o1eWR3bGFNNUpWVnYwCjZTb21RM1pIUU1Eb0tpRHBxb1JaMkpqT1J5UkdKNDVLelBlZDNQRkFXSXJkdk9za3NxZm83RjRka3RJRlJ6d1cKN1FrOWVOVExsdWk5eFdWU01ydWVuTEVuVk42QVhEd1N0TTVha25CdkxtR0Q5N3I3K21RVk00U25ScFhrSk9tMgo5QmtFS2lMQUF5VUNnWUVBMzNDTlRONHVBallueEk4S0gvOTVMUmw5MENZdzhHcnF5bnZoYzg3WWNXekhiZ25jCjBHVERpWGhnY0YrcG4vSDhDeldGdGNRbkl4UXRXdjRWMnhyRE5udWM4ODdJdHEvWjE0L085WE5VYmJwQy9kS3IKYjJJRjExaTQ1SUJVNHVEUXp2TnpXalJoZHZTUzBoZFByRXZJWC9vTkNmaDZPVm5UU0ZKaS9CdVp4QnNDZ1lBOQp2RW02Y2NrN29YbklmeE1Nem5td25LMjR6SGswS2lmVmR2WXpacWZQRC9NMGg5TFNQUi82bUd0bzZaaW9HdWVZCm9Sbmg3czRmQjROaWVZOUZNd1dWNEFndDFCNlhOck5RbUtYOEl5T1BxdXY1eU0rSEEwczJaUjVCNExuay9OOC8KL1d0SkppbHNSNW9GbW1YZnB1T3hXWitOZ09aRHdGWWRmdFYrU2hqd0hRS0JnUURtUGpjeU9pdnp1K1dwZ1duSwprN2dxRk82WEt5WDB2S20wNk1JRkgyUllwRno1NWFYbDU2ZW9MZTVmelN0WHIyalh5YjV1RlVoTkJ1YlFCbUpBCnVFcXRtMTl6cGtPeVpkcnMxZmZkMWwyNXV4MHFzTFpxbkZVaVR5Q0VjdFZVNlFwQjBXbTFFaC9icUpYS1Z2Q3QKV3MrV1F1eENGSWxDVVN6WitqTlIrYUpnMGc9PQotLS0tLUVORCBQUklWQVRFIEtFWS0tLS0t
      rsa-public-key: base64:LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUF4Rk9tamM5WW1lSEVMN0VJM2VPUgp2U0tWRDBUcVJqY0o3K0lQcktEbjVLNkQ1M2h2dWZmSVBVbjZHWm40cWxXS2xHSTR3YWxUVVU0Zzc0TnUwa1gzCnQ5dGN2YTNQVkNRMWRVVU96SVV5aGo5aUFlK1NSRkFHbEhib0E2UncrcVRpWGxKNnppQlljUUNKZTJtY3ppaVIKRHZwQ1o1MTJvajE3eTd5VnAxUVFUWmpGMnRueGRmMWpsVTRLdUp0QktHRi94R29lcmJpM1ZFQmRRemo3dGdxNAp3am96Nm92eUZUQjdxRk5hNWN2NlVJWGs0RmlpQW9pMTB1MzNvdWliZFhEVXU3bjJ1KzMveitsSFFWamNGSTlUClNqVU4vS3ZHZ2dOdk5MN3pDZU9LaitESWd6eVRGQVV0anZQY0hqNGFJMlp4SEhSZ2VQd2V2Nit2TFZTbmZ2NEoKV3dJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
      #rsa-private-key: classpath:META-INF/jwt-key
      #rsa-public-key: classpath:META-INF/jwt-key.pub
    limits:
      tokens-issued-per-second: 10

  cache:
    hazelcast:
      server:
        enabled: true
        port-auto-increment: true
        cluster:
          port: 15000
          name: demo-cluster
          password: YROTLEYO6Z05WAXbCuK4
          members:
        caches:
        - name: demo-cache
          max-size-policy: PER_NODE
          maxSize: 10000
          in-memory-format: OBJECT
          eviction-policy: LRU
          statistics-enabled: true
          max-idle-seconds: 300
          backup-count: 0
          async-backup-count: 0
          read-backup-data: false

  executor:
    initial-task-execution-threads: 2
    max-task-execution-attempts: 10
    max-task-execution-queue-length: 101
    max-task-execution-threads: 11
    task-execution-retry-delay: 65000
    task-execution-thread-keep-alive: 6
    task-execution-timeout: 43200000
    historical-task-retention-days: 30

  messaging:
    encryption-key: m/4Wu7iHTCBVu0Bb1JojAhzWQtA5cWIzbWY2YjhmOGE=
    processing-retry-delay: 60000
    max-processing-attempts: 1000

  resource-server:
    additional-static-resource-uri-patterns:
      - "/another-static-resource-prefix/*"

    # NOTE: If you change the content security policy directives below, update the default list
    #       of content security policy directives specified via
    #       ResourceServerConfiguration.DEFAULT_CONTENT_SECURITY_POLICY_DIRECTIVES
    content-security-policy-directives:
      - "default-src 'self';"
      - "img-src 'self' data:;"
      - "frame-ancestors 'none';"
      - "script-src 'self' 'unsafe-inline';"
      - "style-src 'self' 'unsafe-inline';"
      - "font-src 'self' data:;"

    jwt:
      keys:
        - id: demo
          algorithm: RS256
          location: base64:LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUF4Rk9tamM5WW1lSEVMN0VJM2VPUgp2U0tWRDBUcVJqY0o3K0lQcktEbjVLNkQ1M2h2dWZmSVBVbjZHWm40cWxXS2xHSTR3YWxUVVU0Zzc0TnUwa1gzCnQ5dGN2YTNQVkNRMWRVVU96SVV5aGo5aUFlK1NSRkFHbEhib0E2UncrcVRpWGxKNnppQlljUUNKZTJtY3ppaVIKRHZwQ1o1MTJvajE3eTd5VnAxUVFUWmpGMnRueGRmMWpsVTRLdUp0QktHRi94R29lcmJpM1ZFQmRRemo3dGdxNAp3am96Nm92eUZUQjdxRk5hNWN2NlVJWGs0RmlpQW9pMTB1MzNvdWliZFhEVXU3bjJ1KzMveitsSFFWamNGSTlUClNqVU4vS3ZHZ2dOdk5MN3pDZU9LaitESWd6eVRGQVV0anZQY0hqNGFJMlp4SEhSZ2VQd2V2Nit2TFZTbmZ2NEoKV3dJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
          #location: classpath:META-INF/jwt-key.pub
      revoked-tokens:
        enabled: true
        endpoint: http://localhost:8080/api/security/revoked-tokens
    xacml-policy-decision-point:
      enabled: true
      rule-debugging-enabled: true
      classpath-policies:
        enabled: false
      external-policies:
        enabled: true
        endpoint: http://localhost:8080/api/security/policies

  party:
    party-store-type: internal

  scheduler:
    initial-job-execution-threads: 2
    job-execution-retry-delay: 65000
    job-execution-thread-keep-alive: 6
    max-job-execution-attempts: 10
    max-job-execution-queue-length: 101
    max-job-execution-threads: 11

  security:
    jwt:
      rsa-key-id: demo
      rsa-private-key: base64:LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2d0lCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQktrd2dnU2xBZ0VBQW9JQkFRREVVNmFOejFpWjRjUXYKc1FqZDQ1RzlJcFVQUk9wR053bnY0Zytzb09ma3JvUG5lRys1OThnOVNmb1ptZmlxVllxVVlqakJxVk5SVGlEdgpnMjdTUmZlMzIxeTlyYzlVSkRWMVJRN01oVEtHUDJJQjc1SkVVQWFVZHVnRHBIRDZwT0plVW5yT0lGaHhBSWw3CmFaek9LSkVPK2tKbm5YYWlQWHZMdkpXblZCQk5tTVhhMmZGMS9XT1ZUZ3E0bTBFb1lYL0VhaDZ0dUxkVVFGMUQKT1B1MkNyakNPalBxaS9JVk1IdW9VMXJseS9wUWhlVGdXS0lDaUxYUzdmZWk2SnQxY05TN3VmYTc3Zi9QNlVkQgpXTndVajFOS05RMzhxOGFDQTI4MHZ2TUo0NHFQNE1pRFBKTVVCUzJPODl3ZVBob2pabkVjZEdCNC9CNi9yNjh0ClZLZCsvZ2xiQWdNQkFBRUNnZ0VCQUtjejh1cGRoOER1dFU1RXdSOXd1K05QdTVGWWlRbXB3RTNMd3J1c0FqTVIKcWdjTjNHR090THYxOEFtengwTVNQVWJvYkJ3TFlJa2pPQXVrYlZLcUFqSlVvYVJ0amVERVFiOFJSR3hNbUY0YgpSeFlNK2c0eDlaaWx1QzI1OC9xVFNMTTZIWnJGazIwU0h3UzdTcStOZnhVNWNDcWN3YmVsRTNUTnRNcmdYazRtCmFZbDVZai96QjVvTy9lNXFpYlhXekoyZk1JZjJVb29WUVJWcFdOM0FEbVF5Mkx0YW1oMnJHcjRQdTRYTjYxTmsKNFRMNVp0bUYwd1pLQ28rNXMwM1h4T0Z0cjhIMTZseTdQVVdUV24yU2tsK1FJWjBCckxZWTEzZm4yV2xDZ25lVApCN3dqRXhvZUFjNytBT25nUlI4eVMzVStFLzFsZTEzOFR0OGZMQmlldWdrQ2dZRUErUWNLK1FLbGVwNGFNYUkxCjlBMWNtUFdlN3EraWFTTUp2SGljRUVpUXlDVXpQN08wTk5MaVdXVVJDZURxZGlCdkJSclRkdm9MUVQ1QzlsUVIKOVljekxsaklnTStQaDJSK25YM01GZDFZY0FsV1NwNHJPTkw2RkxDOGpDdldWNUw0RnJFUlVqY05uRTM0ZG16TgpXRmYySUFzem9PUVNzWG5OR1dzejBEb2VjbjhDZ1lFQXlkTGRMNExNaEVmV0k3M0xhV0o1eWR3bGFNNUpWVnYwCjZTb21RM1pIUU1Eb0tpRHBxb1JaMkpqT1J5UkdKNDVLelBlZDNQRkFXSXJkdk9za3NxZm83RjRka3RJRlJ6d1cKN1FrOWVOVExsdWk5eFdWU01ydWVuTEVuVk42QVhEd1N0TTVha25CdkxtR0Q5N3I3K21RVk00U25ScFhrSk9tMgo5QmtFS2lMQUF5VUNnWUVBMzNDTlRONHVBallueEk4S0gvOTVMUmw5MENZdzhHcnF5bnZoYzg3WWNXekhiZ25jCjBHVERpWGhnY0YrcG4vSDhDeldGdGNRbkl4UXRXdjRWMnhyRE5udWM4ODdJdHEvWjE0L085WE5VYmJwQy9kS3IKYjJJRjExaTQ1SUJVNHVEUXp2TnpXalJoZHZTUzBoZFByRXZJWC9vTkNmaDZPVm5UU0ZKaS9CdVp4QnNDZ1lBOQp2RW02Y2NrN29YbklmeE1Nem5td25LMjR6SGswS2lmVmR2WXpacWZQRC9NMGg5TFNQUi82bUd0bzZaaW9HdWVZCm9Sbmg3czRmQjROaWVZOUZNd1dWNEFndDFCNlhOck5RbUtYOEl5T1BxdXY1eU0rSEEwczJaUjVCNExuay9OOC8KL1d0SkppbHNSNW9GbW1YZnB1T3hXWitOZ09aRHdGWWRmdFYrU2hqd0hRS0JnUURtUGpjeU9pdnp1K1dwZ1duSwprN2dxRk82WEt5WDB2S20wNk1JRkgyUllwRno1NWFYbDU2ZW9MZTVmelN0WHIyalh5YjV1RlVoTkJ1YlFCbUpBCnVFcXRtMTl6cGtPeVpkcnMxZmZkMWwyNXV4MHFzTFpxbkZVaVR5Q0VjdFZVNlFwQjBXbTFFaC9icUpYS1Z2Q3QKV3MrV1F1eENGSWxDVVN6WitqTlIrYUpnMGc9PQotLS0tLUVORCBQUklWQVRFIEtFWS0tLS0t
      rsa-public-key: base64:LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUF4Rk9tamM5WW1lSEVMN0VJM2VPUgp2U0tWRDBUcVJqY0o3K0lQcktEbjVLNkQ1M2h2dWZmSVBVbjZHWm40cWxXS2xHSTR3YWxUVVU0Zzc0TnUwa1gzCnQ5dGN2YTNQVkNRMWRVVU96SVV5aGo5aUFlK1NSRkFHbEhib0E2UncrcVRpWGxKNnppQlljUUNKZTJtY3ppaVIKRHZwQ1o1MTJvajE3eTd5VnAxUVFUWmpGMnRueGRmMWpsVTRLdUp0QktHRi94R29lcmJpM1ZFQmRRemo3dGdxNAp3am96Nm92eUZUQjdxRk5hNWN2NlVJWGs0RmlpQW9pMTB1MzNvdWliZFhEVXU3bjJ1KzMveitsSFFWamNGSTlUClNqVU4vS3ZHZ2dOdk5MN3pDZU9LaitESWd6eVRGQVV0anZQY0hqNGFJMlp4SEhSZ2VQd2V2Nit2TFZTbmZ2NEoKV3dJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==
    policy-store-type: internal

  sms:
    max-send-attempts: 100
    providers:
      sms-portal:
        api-url: https://rest.smsportal.com/v1
        client-id: CLIENT_ID
        client-secret: CLIENT_SECRET
    send-retry-delay: 600000
    use-provider: sms-portal

  ws:
    security:
      x509-certificate-token-profile:
        enabled: false
        key-store: classpath:META-INF/demo.p12
        key-store-type: pkcs12
        key-store-password: Password1
        key-password: Password1
        key-alias: demo
        trust-store: classpath:META-INF/demo.p12
        trust-store-type: pkcs12
        trust-store-password: Password1

logging:
  digital.inception: DEBUG
  # org.springframework.security: DEBUG

management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,loggers,metrics,mappings,httpexchanges,threaddump,prometheus
  health:
    mail:
      enabled: false
  metrics:
    enable:
      all: true

# Postgres Data Source Example
#  application:
#    data-source:
#      class-name: org.postgresql.xa.PGXADataSource
#      url: jdbc:postgresql://localhost:5432/demo
#      username: demo
#      password: demo
#      min-pool-size: 5
#      max-pool-size: 10

# SQL Server Data Source Example
#  application:
#    data-source:
#      class-name: com.microsoft.sqlserver.jdbc.SQLServerXADataSource
#      url: jdbc:sqlserver://192.168.185.130:1433;databaseName=Demo;user=Demo;password=Password1
#      min-pool-size: 5
#      max-pool-size: 10


