<form [formGroup]="advancedForm" (submit)="onSubmit()" validatedForm>
  <mat-card>
    <mat-card-title>Advanced Form</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <input matInput placeholder="Static Value" disabled value="XXX">
          </mat-form-field>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="disabledInput">Disabled Input</label>
            <input type="text" id="disabledInput" name="disabledInput" class="form-control" placeholder="Disabled" disabled>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="disabledSelect">Disabled Select</label>
            <select id="disabledSelect" class="form-control" disabled>
              <option value="0">Please select</option>
              <option value="1">Option #1</option>
              <option value="2">Option #2</option>
              <option value="3">Option #3</option>
            </select>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</form>


