<header class="inception-layout-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" inceptionMobileSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none mr-auto" type="button" inceptionSidebarToggler>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="!isLoggedIn()">
    <button class="navbar-toggler navbar-toggler-login" type="button" (click)="login()">
      <span class="navbar-toggler-icon navbar-toggler-login-icon"></span>
      Login
    </button>
  </div>
  <div *ngIf="isLoggedIn()">
    <button class="navbar-toggler" type="button" inceptionAsideMenuToggler>
      <span class="navbar-toggler-icon navbar-toggler-user-icon"></span>
    </button>
  </div>

</header>
