<form [formGroup]="exampleForm" autocomplete="off" class="d-flex flex-column flex-auto" validatedForm>
  <mat-card class="d-flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-auto">
      <div class="row">
        <div class="col">
          <span class="mat-subtitle-1 mb-0">Disabled Form Fields</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="static">
            <mat-label>Static</mat-label>
            <input matInput value="Static Value" disabled>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Disabled input</mat-label>
            <input matInput disabled>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Disabled select</mat-label>
            <mat-select disabled>
              <mat-option value="1">Option #1</mat-option>
              <mat-option value="2">Option #2</mat-option>
              <mat-option value="3">Option #3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="mat-subtitle-1 mb-0 mt-3">Personal Information</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" required autofocus>
            <mat-hint>The name.</mat-hint>
            @if (exampleForm.controls['name'].errors && !exampleForm.controls['name'].untouched) {
              <mat-error>
                @if (exampleForm.controls['name'].errors?.['required']) {
                  <span>A name is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Preferred name</mat-label>
            <input type="text" matInput formControlName="preferredName" required>
            @if (exampleForm.controls['preferredName'].errors && !exampleForm.controls['preferredName'].untouched) {
              <mat-error>
                @if (exampleForm.controls['preferredName'].errors?.['required']) {
                  <span>A preferred name is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="datePicker" (focus)="datePicker.open()" formControlName="dateOfBirth" required readonly>
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
            @if (exampleForm.controls['dateOfBirth'].errors && !exampleForm.controls['dateOfBirth'].untouched) {
              <mat-error>
                @if (exampleForm.controls['dateOfBirth'].errors?.['required']) {
                  <span>A date of birth is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Title</mat-label>
            <mat-select formControlName="title" required>
              @for (title of titles; track title) {
                <mat-option [value]="title.value">
                  {{title.name}}
                </mat-option>
              }
            </mat-select>
            @if (exampleForm.controls['title'].errors && !exampleForm.controls['title'].untouched) {
              <mat-error>
                @if (exampleForm.controls['title'].errors?.['required']) {
                  <span>A title is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" required>
            @if (exampleForm.controls['password'].errors && !exampleForm.controls['password'].untouched) {
              <mat-error>
                @if (exampleForm.controls['password'].errors?.['required']) {
                  <span>A password is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword" required>
            @if (exampleForm.controls['confirmPassword'].errors && !exampleForm.controls['confirmPassword'].untouched) {
              <mat-error>
                @if (exampleForm.controls['confirmPassword'].errors?.['required']) {
                  <span>Password confirmation is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="mat-subtitle-1 mb-0 mt-4">Other Information</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Favorite country</mat-label>
            <inception-reference-country-input [formControl]="favoriteCountryControl" required></inception-reference-country-input>
            @if (favoriteCountryControl.errors && !favoriteCountryControl.untouched) {
              <mat-error>
                @if (favoriteCountryControl.errors?.['required']) {
                  <span>A favorite country is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Gross income</mat-label>
            <input matInput formControlName="grossIncome" type="number" class="text-right">
            <span matTextPrefix>R&nbsp;</span>
            <span matTextSuffix>.00</span>
            <mat-hint>Your gross income.</mat-hint>
            @if (exampleForm.controls['grossIncome'].errors && !exampleForm.controls['grossIncome'].untouched) {
              <mat-error>
                @if (exampleForm.controls['grossIncome'].errors?.['required']) {
                  <span>The gross income is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <inception-core-group-form-field>
            <mat-label>Favorite color</mat-label>
            <mat-radio-group formControlName="favoriteColor" required>
              <mat-radio-button value="1">Red</mat-radio-button>
              <mat-radio-button value="2">Green</mat-radio-button>
              <mat-radio-button value="3">Blue</mat-radio-button>
            </mat-radio-group>
            <mat-hint>Select a favorite color.</mat-hint>
            @if (exampleForm.controls['favoriteColor'].errors && !exampleForm.controls['favoriteColor'].untouched) {
              <mat-error>
                @if (exampleForm.controls['favoriteColor'].errors?.['required']) {
                  <span>A favorite colour is required.</span>
                }
              </mat-error>
            }
          </inception-core-group-form-field>
        </div>
        <div class="col-sm">
          <inception-core-group-form-field>
            <mat-label>Favorite pet</mat-label>
            <mat-checkbox formControlName="favoritePetDog">Dog</mat-checkbox>
            <mat-checkbox formControlName="favoritePetCat">Cat</mat-checkbox>
            <mat-checkbox formControlName="favoritePetFish">Fish</mat-checkbox>
            <mat-hint>Select your favorite pet(s).</mat-hint>
          </inception-core-group-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="notes" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-flat-button color="link">Cancel</button>
      <button type="button" mat-flat-button color="primary" [disabled]="!exampleForm.valid">OK</button>
    </mat-card-actions>
  </mat-card>
</form>
