<form [formGroup]="partyReferenceForm" autocomplete="off" class="d-flex flex-column flex-auto" validatedForm>
  <mat-card class="d-flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-auto">
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Role type attribute type constraint</mat-label>
            <input type="text" matInput formControlName="roleTypeAttributeTypeConstraint" autocompleteSelectionRequired [matAutocomplete]="roleTypeAttributeTypeConstraintAutocomplete">
            <mat-autocomplete autoActiveFirstOption #roleTypeAttributeTypeConstraintAutocomplete="matAutocomplete" [displayWith]="displayRoleTypeAttributeTypeConstraint">
              <mat-option *ngFor="let roleTypeAttributeTypeConstraint of filteredRoleTypeAttributeTypeConstraints$ | async" [value]="roleTypeAttributeTypeConstraint">
                {{roleTypeAttributeTypeConstraint.roleType + ' - ' + roleTypeAttributeTypeConstraint.attributeType}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="partyReferenceForm.controls['roleTypeAttributeTypeConstraint'].errors && !partyReferenceForm.controls['roleTypeAttributeTypeConstraint'].untouched">
              <span *ngIf="partyReferenceForm.controls['roleTypeAttributeTypeConstraint'].errors?.required">A role type attribute type constraint is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Role type preference type constraint</mat-label>
            <input type="text" matInput formControlName="roleTypePreferenceTypeConstraint" autocompleteSelectionRequired [matAutocomplete]="roleTypePreferenceTypeConstraintAutocomplete">
            <mat-autocomplete autoActiveFirstOption #roleTypePreferenceTypeConstraintAutocomplete="matAutocomplete" [displayWith]="displayRoleTypePreferenceTypeConstraint">
              <mat-option *ngFor="let roleTypePreferenceTypeConstraint of filteredRoleTypePreferenceTypeConstraints$ | async" [value]="roleTypePreferenceTypeConstraint">
                {{roleTypePreferenceTypeConstraint.roleType + ' - ' + roleTypePreferenceTypeConstraint.preferenceType}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="partyReferenceForm.controls['roleTypePreferenceTypeConstraint'].errors && !partyReferenceForm.controls['roleTypePreferenceTypeConstraint'].untouched">
              <span *ngIf="partyReferenceForm.controls['roleTypePreferenceTypeConstraint'].errors?.required">A role type preference type constraint is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-flat-button color="link">Cancel</button>
      <button type="button" mat-flat-button color="primary" (click)="ok()">OK</button>
    </mat-card-actions>
  </mat-card>
</form>
