<mat-accordion>
  <!-- General Panel -->
  <mat-expansion-panel [expanded]="activePanel === 0" (opened)="setActivePanel(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal Details
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The personal details for the person.
        <i class="fa fa-user"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-sm">
        <mat-form-field class="static">
          <mat-label>Name</mat-label>
          <input type="text" matInput [formControl]="nameControl">
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <title-input [formControl]="titleControl" required></title-input>
          <mat-error *ngIf="titleControl.errors && !titleControl.untouched">
            <span *ngIf="titleControl.errors?.required">A title is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm">
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Given Name</mat-label>
          <input type="text" matInput [formControl]="givenNameControl">
          <mat-error *ngIf="givenNameControl.errors && !givenNameControl.untouched">
            <span *ngIf="givenNameControl.errors?.required">A given name is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input type="text" matInput [formControl]="surnameControl">
          <mat-error *ngIf="surnameControl.errors && !surnameControl.untouched">
            <span *ngIf="surnameControl.errors?.required">A surname is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Middle Names</mat-label>
          <input type="text" matInput [formControl]="middleNamesControl">
          <mat-error *ngIf="middleNamesControl.errors && !middleNamesControl.untouched">
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Maiden Name</mat-label>
          <input type="text" matInput [formControl]="maidenNameControl">
          <mat-error *ngIf="maidenNameControl.errors && !maidenNameControl.untouched">
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Countries of Citizenship</mat-label>
          <countries-chip-list
            [formControl]="countriesOfCitizenshipControl"
            placeholder="Add Country ..." required>
          </countries-chip-list>
          <mat-error *ngIf="countriesOfCitizenshipControl.errors && !countriesOfCitizenshipControl.untouched">
            <span *ngIf="countriesOfCitizenshipControl.errors?.required">A country of citizenship is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Language</mat-label>
          <language-input [formControl]="languageControl" required></language-input>
          <mat-error *ngIf="languageControl.errors && !languageControl.untouched">
            <span *ngIf="languageControl.errors?.required">A language is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-sm">
        <mat-form-field>
          <mat-label>Country of Birth</mat-label>
          <country-input [formControl]="countryOfBirthControl" required></country-input>
          <mat-error *ngIf="countryOfBirthControl.errors && !countryOfBirthControl.untouched">
            <span *ngIf="countryOfBirthControl.errors?.required">A country of birth is required.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm">

      </div>
    </div>


    <mat-action-row>
      <button mat-button (click)="nextPanel()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Attributes Panel -->
  <mat-expansion-panel [expanded]="activePanel === 1" (opened)="setActivePanel(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Attributes
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The attributes for the person.
        <i class="far fa-list-alt"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Consents Panel -->
  <mat-expansion-panel [expanded]="activePanel === 2" (opened)="setActivePanel(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Consents
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The consents provided by the person.
        <i class="far fa-check-square"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Contact Mechanisms Panel -->
  <mat-expansion-panel [expanded]="activePanel === 3" (opened)="setActivePanel(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contact Mechanisms
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The contact mechanisms for the person.
        <i class="fas fa-phone"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Educations Panel -->
  <mat-expansion-panel [expanded]="activePanel === 4" (opened)="setActivePanel(4)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Educations
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The educations for the person.
        <i class="fas fa-university"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Employments Panel -->
  <mat-expansion-panel [expanded]="activePanel === 5" (opened)="setActivePanel(5)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Employments
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The employments for the person.
        <i class="fas fa-briefcase"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- External References Panel -->
  <mat-expansion-panel [expanded]="activePanel === 6" (opened)="setActivePanel(6)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        External References
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The external references for the person.
        <i class="fas fa-external-link-alt"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Identity Documents Panel -->
  <mat-expansion-panel [expanded]="activePanel === 7" (opened)="setActivePanel(7)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Identity Documents
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The identity documents for the person.
        <i class="far fa-id-card"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Languages Panel -->
  <mat-expansion-panel [expanded]="activePanel === 8" (opened)="setActivePanel(8)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Languages
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The language proficiencies for the person.
        <i class="fas fa-language"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Locks Panel -->
  <mat-expansion-panel [expanded]="activePanel === 9" (opened)="setActivePanel(9)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Locks
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The locks applied to the person.
        <i class="fas fa-user-lock"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Next of Kin Panel -->
  <mat-expansion-panel [expanded]="activePanel === 10" (opened)="setActivePanel(10)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Next of Kin
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The next of kin for the person.
        <i class="fas fa-people-arrows"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Physical Addresses -->
  <mat-expansion-panel [expanded]="activePanel === 11" (opened)="setActivePanel(11)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Physical Addresses
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The physical addresses for the person.
        <i class="fas fa-map-marker-alt"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Preferences Panel -->
  <mat-expansion-panel [expanded]="activePanel === 12" (opened)="setActivePanel(12)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Preferences
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The preferences for the person.
        <i class="fas fa-asterisk"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Residence Permits Panel -->
  <mat-expansion-panel [expanded]="activePanel === 13" (opened)="setActivePanel(13)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Residence Permits
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The residence permits for the person.
        <i class="far fa-address-card"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Roles Panel -->
  <mat-expansion-panel [expanded]="activePanel === 14" (opened)="setActivePanel(14)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Roles
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The roles assigned directly to the person.
        <i class="fas fa-user-tag"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Segmentation Panel -->
  <mat-expansion-panel [expanded]="activePanel === 15" (opened)="setActivePanel(15)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Segmentation
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The segment allocations for the person.
        <i class="fas fa-layer-group"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Sources of Funds Panel -->
  <mat-expansion-panel [expanded]="activePanel === 16" (opened)="setActivePanel(16)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sources of Funds
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The sources of funds for the person.
        <i class="fas fa-wallet"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Sources of Wealth Panel -->
  <mat-expansion-panel [expanded]="activePanel === 17" (opened)="setActivePanel(17)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sources of Wealth
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The sources of wealth for the person.
        <i class="fas fa-coins"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Status Panel -->
  <mat-expansion-panel [expanded]="activePanel === 18" (opened)="setActivePanel(18)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Statuses
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The statuses assigned to the person.
        <i class="fas fa-toggle-off"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
      <button mat-button (click)="nextPanel()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Tax Numbers Panel -->
  <mat-expansion-panel [expanded]="activePanel === 19" (opened)="setActivePanel(19)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tax Numbers
      </mat-panel-title>
      <mat-panel-description class="d-sm-down-none">
        The tax numbers for the person.
        <i class="fas fa-globe"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button (click)="previousPanel()">Previous</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
