<form [formGroup]="referenceForm" autocomplete="off" class="d-flex flex-column flex-auto" validatedForm>
  <mat-card class="d-flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-auto">
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Countries</mat-label>
            <countries-chip-list [formControl]="countriesControl" required></countries-chip-list>
            <mat-error *ngIf="countriesControl.errors && !countriesControl.untouched">
              <span *ngIf="countriesControl.errors?.required">One or more countries must be selected.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Country</mat-label>
            <country-input [formControl]="countryControl" required></country-input>
            <mat-error *ngIf="countryControl.errors && !countryControl.untouched">
              <span *ngIf="countryControl.errors?.required">A country is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label>Language</mat-label>
            <language-input [formControl]="languageControl" required></language-input>
            <mat-error *ngIf="languageControl.errors && !languageControl.untouched">
              <span *ngIf="languageControl.errors?.required">A language is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-flat-button color="link">Cancel</button>
      <button type="button" mat-flat-button color="primary" (click)="ok()">OK</button>
    </mat-card-actions>
  </mat-card>
</form>
