<mat-card>
  <mat-card-title>Basic Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-button color="primary"&gt;Primary&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col"><button mat-button>Basic</button></div>
      <div class="col"><button mat-button color="primary">Primary</button></div>
      <div class="col"><button mat-button color="accent">Accent</button></div>
      <div class="col"><button mat-button color="warn">Warn</button></div>
      <div class="col"><button mat-button disabled>Disabled</button></div>
      <div class="col"><a mat-button routerLink=".">Link</a></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Flat Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-flat-button color="primary"&gt;Primary&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col"><button mat-flat-button>Basic</button></div>
      <div class="col"><button mat-flat-button color="primary">Primary</button></div>
      <div class="col"><button mat-flat-button color="accent">Accent</button></div>
      <div class="col"><button mat-flat-button color="warn">Warn</button></div>
      <div class="col"><button mat-flat-button disabled>Disabled</button></div>
      <div class="col"><a mat-flat-button color="link" routerLink=".">Link</a></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Raised Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-raised-button color="primary"&gt;Primary&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col"><button mat-raised-button>Basic</button></div>
      <div class="col"><button mat-raised-button color="primary">Primary</button></div>
      <div class="col"><button mat-raised-button color="accent">Accent</button></div>
      <div class="col"><button mat-raised-button color="warn">Warn</button></div>
      <div class="col"><button mat-raised-button disabled>Disabled</button></div>
      <div class="col"><a mat-raised-button routerLink=".">Link</a></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Icon Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-icon-button color="primary"&gt; <br/>&nbsp;&nbsp;&nbsp;&nbsp;&lt;mat-icon aria-label="Example icon-button with a heart icon"&gt;favorite&lt;/mat-icon&gt;<br/>&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col">
        <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
      </div>
      <div class="col">
        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
      </div>
      <div class="col">
        <button mat-icon-button color="accent">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
      </div>
      <div class="col">
        <button mat-icon-button color="warn">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
      </div>
      <div class="col">
        <button mat-icon-button disabled>
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Fab Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-fab color="primary"&gt;Primary&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col"><button mat-fab>Basic</button></div>
      <div class="col"><button mat-fab color="primary">Primary</button></div>
      <div class="col"><button mat-fab color="accent">Accent</button></div>
      <div class="col"><button mat-fab color="warn">Warn</button></div>
      <div class="col"><button mat-fab disabled>Disabled</button></div>
      <div class="col">
        <button mat-fab>
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
      </div>
      <div class="col"><a mat-fab routerLink=".">Link</a></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Mini Fab Buttons</mat-card-title>
  <mat-card-content>
    <p>
      <code class="bg-light">&lt;button mat-mini-fab color="primary"&gt;Primary&lt;/button&gt;</code>
    </p>
    <div class="row">
      <div class="col"><button mat-mini-fab>Base</button></div>
      <div class="col"><button mat-mini-fab color="primary">Pri</button></div>
      <div class="col"><button mat-mini-fab color="accent">Acc</button></div>
      <div class="col"><button mat-mini-fab color="warn">Warn</button></div>
      <div class="col"><button mat-mini-fab disabled>Dis</button></div>
      <div class="col">
        <button mat-mini-fab>
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
      </div>
      <div class="col"><a mat-mini-fab routerLink=".">Link</a></div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Button toggle (Material Icons)</mat-card-title>
  <mat-card-content>
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle value="left">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center">
        <mat-icon>format_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="right">
        <mat-icon>format_align_right</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="justify" disabled>
        <mat-icon>format_align_justify</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="mt-3">Selected value: {{group.value}}</div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Button toggle (Font Awesome)</mat-card-title>
  <mat-card-content>
    <mat-button-toggle-group #group2="matButtonToggleGroup">
      <mat-button-toggle value="left">
        <i class="fas fa-align-left"></i>
      </mat-button-toggle>
      <mat-button-toggle value="center">
        <i class="fas fa-align-center"></i>
      </mat-button-toggle>
      <mat-button-toggle value="right">
        <i class="fas fa-align-right"></i>
      </mat-button-toggle>
      <mat-button-toggle value="justify" disabled>
        <i class="fas fa-align-justify"></i>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="mt-3">Selected value: {{group2.value}}</div>
  </mat-card-content>
</mat-card>
