<mat-card class="d-flex flex-column flex-auto">
  <mat-card-content class="d-flex flex-column flex-auto">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center pb-4">
          <button mat-button (click)="info()">Information Dialog</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center pb-4">
          <button mat-button (click)="warning()">Warning Dialog</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center pb-4">
          <button mat-button (click)="error()">Error Dialog</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center pb-4">
          <button mat-button (click)="confirmation()">Confirmation Dialog</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
