<form [formGroup]="editJobForm" autocomplete="off" class="d-flex flex-column flex-fill" validatedForm>
  <mat-card class="flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-fill">
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@scheduler_edit_job_component_label_id">ID</mat-label>
            <input type="text" matInput formControlName="id">
            @if (idControl.errors && !idControl.untouched) {
              <mat-error>
                @if (idControl.errors?.['required']) {
                  <span i18n="@@scheduler_edit_job_component_error_id_required">An ID is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@scheduler_edit_job_component_label_name">Name</mat-label>
            <input type="text" matInput formControlName="name">
            @if (nameControl.errors && !nameControl.untouched) {
              <mat-error>
                @if (nameControl.errors?.['required']) {
                  <span i18n="@@scheduler_edit_job_component_error_name_required">A name is required.</span>
                }
                @if (nameControl.errors?.['maxlength']) {
                  <span i18n="@@scheduler_edit_job_component_error_name_maxlength">Name must not exceed 100 characters.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@scheduler_edit_job_component_label_job_class">Job Class</mat-label>
            <input type="text" matInput formControlName="jobClass">
            @if (jobClassControl.errors && !jobClassControl.untouched) {
              <mat-error>
                @if (jobClassControl.errors?.['required']) {
                  <span i18n="@@scheduler_edit_job_component_error_job_class_required">A job class is required.</span>
                }
                @if (jobClassControl.errors?.['maxlength']) {
                  <span i18n="@@scheduler_edit_job_component_error_job_class_maxlength">Job class must not exceed 1000 characters.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@scheduler_edit_job_component_label_scheduling_pattern">Scheduling Pattern</mat-label>
            <input type="text" matInput formControlName="schedulingPattern">
            @if (schedulingPatternControl.errors && !schedulingPatternControl.untouched) {
              <mat-error>
                @if (schedulingPatternControl.errors?.['required']) {
                  <span i18n="@@scheduler_edit_job_component_error_scheduling_pattern_required">A scheduling pattern is required.</span>
                }
                @if (schedulingPatternControl.errors?.['maxlength']) {
                  <span i18n="@@scheduler_edit_job_component_error_scheduling_pattern_maxlength">Scheduling pattern must not exceed 100 characters.</span>
                }
                @if (schedulingPatternControl.errors?.['pattern']) {
                  <span i18n="@@scheduler_edit_job_component_error_scheduling_pattern_pattern">A valid cron statement is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@scheduler_edit_job_component_label_content_type">Enabled</mat-label>
            <mat-select formControlName="enabled">
              <mat-option [value]="true" i18n="@@scheduler_edit_job_component_enabled_yes">Yes</mat-option>
              <mat-option [value]="false" i18n="@@scheduler_edit_job_component_enabled_no">No</mat-option>
            </mat-select>
            @if (enabledControl.errors && !enabledControl.untouched) {
              <mat-error>
                @if (enabledControl.errors?.['required']) {
                  <span i18n="@@scheduler_edit_job_component_error_enabled_required">Select whether the job is enabled.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@scheduler_edit_job_component_label_status">Status</mat-label>
            <mat-select formControlName="status">
              @for (jobStatus of jobStatuses; track jobStatus) {
                <mat-option [value]="jobStatus">
                  {{ getJobStatusDescription(jobStatus) }}
                </mat-option>
              }
            </mat-select>
            @if (statusControl.errors && !statusControl.untouched) {
              <mat-error>
                @if (statusControl.errors?.['required']) {
                  <span i18n="@@scheduler_edit_job_component_error_status_required">A status is required.</span>
                }
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="mat-mdc-nested-table-header">
            <span class="mat-subtitle-1 mb-0 mt-2">Parameters</span>
            <div class="mat-mdc-two-actions-cell">
              <button mat-icon-button (click)="newJobParameter()">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <table class="mat-mdc-nested-table flex-fill">
            <tr class="mat-mdc-nested-header-row">
              <th class="mat-mdc-nested-header-cell" i18n="@@scheduler_edit_job_component_job_parameters_table_header_name">Name</th>
              <th class="mat-mdc-nested-header-cell" i18n="@@scheduler_edit_job_component_job_parameters_table_header_value">Value</th>
              <th class="mat-mdc-nested-header-cell mat-mdc-two-actions-cell" i18n="@@scheduler_edit_job_component_job_parameters_table_header_actions">Actions</th>
            </tr>
            @for (jobParameter of jobParameters; track jobParameter) {
              <tr class="mat-mdc-nested-row">
                <td class="mat-mdc-nested-cell">
                  {{jobParameter.name}}
                </td>
                <td class="mat-mdc-nested-cell">
                  {{jobParameter.value}}
                </td>
                <td class="mat-mdc-nested-cell mat-mdc-two-actions-cell">
                  <button mat-icon-button (click)="editJobParameter(jobParameter)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button mat-icon-button (click)="deleteJobParameter(jobParameter)">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            }
          </table>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button type="button" mat-flat-button color="link" (click)="cancel()" i18n="@@scheduler_edit_job_component_button_cancel">Cancel</button>
      <button type="button" mat-flat-button color="primary" [disabled]="!editJobForm.valid" (click)="ok()" i18n="@@scheduler_edit_job_component_button_ok">OK</button>
    </mat-card-actions>
  </mat-card>
</form>
