<form [formGroup]="newJobForm" autocomplete="off" class="d-flex flex-column flex-fill" validatedForm>
  <mat-card class="flex flex-column flex-auto">
    <mat-card-content class="d-flex flex-column flex-fill">
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@scheduler_new_job_component_label_id">ID</mat-label>
            <input type="text" matInput formControlName="id" required="true" autofocus>
            <mat-error *ngIf="newJobForm.get('id').errors && !newJobForm.get('id').untouched">
              <span *ngIf="newJobForm.get('id').errors?.required" i18n="@@scheduler_new_job_component_error_id_required">An ID is required.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@scheduler_new_job_component_label_name">Name</mat-label>
            <input type="text" matInput formControlName="name" required="true">
            <mat-error *ngIf="newJobForm.get('name').errors && !newJobForm.get('name').untouched">
              <span *ngIf="newJobForm.get('name').errors?.required" i18n="@@scheduler_new_job_component_error_name_required">A name is required.</span>
              <span *ngIf="newJobForm.get('name').errors?.maxlength" i18n="@@scheduler_new_job_component_error_name_maxlength">Name must not exceed 100 characters.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@scheduler_new_job_component_label_scheduling_pattern">Scheduling Pattern</mat-label>
            <input type="text" matInput formControlName="schedulingPattern" required="true">
            <mat-error *ngIf="newJobForm.get('schedulingPattern').errors && !newJobForm.get('schedulingPattern').untouched">
              <span *ngIf="newJobForm.get('schedulingPattern').errors?.required" i18n="@@scheduler_new_job_component_error_scheduling_pattern_required">A scheduling pattern is required.</span>
              <span *ngIf="newJobForm.get('schedulingPattern').errors?.maxlength" i18n="@@scheduler_new_job_component_error_scheduling_pattern_maxlength">Scheduling pattern must not exceed 100 characters.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field>
            <mat-label i18n="@@scheduler_new_job_component_label_content_type">Enabled</mat-label>
            <mat-select formControlName="enabled" required="true">
              <mat-option [value]="true" i18n="@@scheduler_new_job_component_enabled_yes">Yes</mat-option>
              <mat-option [value]="false" i18n="@@scheduler_new_job_component_enabled_no">No</mat-option>
            </mat-select>
            <mat-error *ngIf="newJobForm.controls['enabled'].errors && !newJobForm.controls['enabled'].untouched">
              <span *ngIf="newJobForm.controls['enabled'].errors?.required" i18n="@@scheduler_new_job_component_error_enabled_required">Select whether the job is enabled.</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="mat-nested-table-header mt-2">
            Parameters
            <div class="mat-two-actions">
              <button mat-icon-button>
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <table class="mat-nested-table flex-fill">
            <tr class="mat-nested-header-row">
              <th class="mat-nested-header-cell">Name</th>
              <th class="mat-nested-header-cell">Value</th>
              <th class="mat-nested-header-cell mat-two-actions">Actions</th>
            </tr>
            <tr class="mat-nested-row" *ngFor="let jobParameter of jobParameters; index as index">
              <td class="mat-nested-cell">
                {{jobParameter.name}}
              </td>
              <td class="mat-nested-cell">
                {{jobParameter.value}}
              </td>
              <td class="mat-nested-cell mat-two-actions">
                <button mat-icon-button>
                  <i class="fas fa-edit"></i>
                </button>
                <button mat-icon-button>
                  <i class="fas fa-minus-circle"></i>
                </button>
              </td>
            </tr>
          </table>









        </div>
      </div>

    </mat-card-content>
    <mat-card-actions class="align-right">
      <button type="button" mat-flat-button color="link" (click)="onCancel()" i18n="@@scheduler_new_job_component_button_cancel">Cancel</button>
      <button type="button" mat-flat-button [disabled]="!newJobForm.valid" (click)="onOK()" i18n="@@scheduler_new_job_component_button_ok">OK</button>
    </mat-card-actions>
  </mat-card>
</form>
